<!--
    共享流程
     -->
     <div class="hbox hbox-auto-xs hbox-auto-sm">
      <!-- main -->
      <div class="col" ng-controller="testManageCtrl">
        <!-- main header -->
        <div class="wrapper-md">
          <div class="row">
            <div class="col-sm-6 col-xs-12 form-title-name">
              <span class="h3" ng-bind="menuData.DisplayName"></span>
            </div>
            <div class="col-sm-6 col-xs-12">
              <button class="btn btn-default btn-sm" style="float: right">
                <i class="glyphicon glyphicon-plus" ng-click="createTestEnv()"><span
                    style="margin-left: 5px">新建</span></i>
              </button>
            </div>
          </div>
        </div>
    
        <!--表格部分Start-->
        <div class="wrapper-md paddingbottomNone">
          <div class="panel panel-default">
            <div class="table-responsive">
              <div class="form-inline search-box">
                <div class="input-group searchContainer">
                  <!--名称-->
                  <div class="header-search-item">
                    <span class="search-title-text">关键字</span>
                    <div class="form-group">
                      <input ng-model="testEnvKeyword" maxlength="32" class="input form-control" style="width: 500px"
                        id="testEnvKeyword" placeholder="可输入系统名，名称，交易环境类别中的关键字进行模糊查询" />
                    </div>
                  </div>
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <button class="btn btn-primary search-box-btn" id="testEnvSearch" type="button">
                    查询
                  </button>
                </div>
              </div>
    
              <table ui-jq="dataTable" id="tabTestEnv" ui-options="testEnvOptions"
                class="table table-striped m-b-none" style="width: 99.5%">
                <thead>
                  <tr>
    
                    <th style="width: 200px"><span>系统名</span></th>
                    <th ><span>名称</span></th>
                    <th > <span>交易环境类别</span></th>
                    <th>关联环境</th>
                    <th class="hide1024" style="width: 120px"><span>操作</span></th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
          </div>
        </div>
        <div ng-include="'testManage/modals.html'"></div>
        <!--表格部分End-->
      </div>
      <!-- / main -->
    </div>