<ion-view title="{{Params.title}}" class="fetchUser" hide-nav-bar="{{$root.dingMobile.hideHeader}}">
    <ion-nav-bar class="bar" >
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-ios-arrow-left" ng-click="BackPage()">{{names.Back}}</button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content>
            <div class="comment-list">
                <ul class="comment-inner">
                    <li class="comment-item" ng-click="commentDetail()">
                        <div class="comment-avator"><img src="http://static.pig66.com/uploadfile/2017/1024/20171024061038994.jpg" alt=""></div>
                        <div class="comment-right">
                           <p>
                               <span>摘要:</span>
                               <span class="title">123123123</span>
                           </p>
                            <p>
                                <span >发起时间:</span>
                                <span class="title">123123123</span>
                            </p>
                            <p>
                                <span >完成时间:</span>
                                <span class="title">123123123</span>
                            </p>
                            <p>
                                <span >状态:</span>
                                <span class="title">123123123</span>
                            </p>
                        </div>
                    </li>

                    <li class="comment-item">
                        <div class="comment-avator"><img src="http://static.pig66.com/uploadfile/2017/1024/20171024061038994.jpg" alt=""></div>
                        <div class="comment-right">
                            <p>
                                <span>摘要:</span>
                                <span class="title">123123123</span>
                            </p>
                            <p>
                                <span >发起时间:</span>
                                <span class="title">123123123</span>
                            </p>
                            <p>
                                <span >完成时间:</span>
                                <span class="title">123123123</span>
                            </p>
                            <p>
                                <span >状态:</span>
                                <span class="title">123123123</span>
                            </p>
                        </div>
                    </li>

                    <li class="comment-item">
                        <div class="comment-avator"><img src="http://static.pig66.com/uploadfile/2017/1024/20171024061038994.jpg" alt=""></div>
                        <div class="comment-right">
                            <p>
                                <span>摘要:</span>
                                <span class="title">123123123</span>
                            </p>
                            <p>
                                <span >发起时间:</span>
                                <span class="title">123123123</span>
                            </p>
                            <p>
                                <span >完成时间:</span>
                                <span class="title">123123123</span>
                            </p>
                            <p>
                                <span >状态:</span>
                                <span class="title">123123123</span>
                            </p>
                        </div>
                    </li>

                    <li class="comment-item">
                        <div class="comment-avator"><img src="../../img/userman.png" alt=""></div>
                        <div class="comment-right">
                            <p>
                                <span>摘要:</span>
                                <span class="title">123123123</span>
                            </p>
                            <p>
                                <span >发起时间:</span>
                                <span class="title">123123123</span>
                            </p>
                            <p>
                                <span >完成时间:</span>
                                <span class="title">123123123</span>
                            </p>
                            <p>
                                <span >状态:</span>
                                <span class="title">123123123</span>
                            </p>
                        </div>
                    </li>

                    <li class="comment-item">
                        <div class="comment-avator"><img src="../../img/userman.png" alt=""></div>
                        <div class="comment-right">
                            <p>
                                <span>摘要:</span>
                                <span class="title">123123123</span>
                            </p>
                            <p>
                                <span >发起时间:</span>
                                <span class="title">123123123</span>
                            </p>
                            <p>
                                <span >完成时间:</span>
                                <span class="title">123123123</span>
                            </p>
                            <p>
                                <span >状态:</span>
                                <span class="title">123123123</span>
                            </p>
                        </div>
                    </li>

                    <li class="comment-item">
                        <div class="comment-avator"><img src="../../img/userman.png" alt=""></div>
                        <div class="comment-right">
                            <p>
                                <span>摘要:</span>
                                <span class="title">123123123</span>
                            </p>
                            <p>
                                <span >发起时间:</span>
                                <span class="title">123123123</span>
                            </p>
                            <p>
                                <span >完成时间:</span>
                                <span class="title">123123123</span>
                            </p>
                            <p>
                                <span >状态:</span>
                                <span class="title">123123123</span>
                            </p>
                        </div>
                    </li>

                    <li class="comment-item">
                        <div class="comment-avator"><img src="../../img/userman.png" alt=""></div>
                        <div class="comment-right">
                            <p>
                                <span>摘要:</span>
                                <span class="title">123123123</span>
                            </p>
                            <p>
                                <span >发起时间:</span>
                                <span class="title">123123123</span>
                            </p>
                            <p>
                                <span >完成时间:</span>
                                <span class="title">123123123</span>
                            </p>
                            <p>
                                <span >状态:</span>
                                <span class="title">123123123</span>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
    </ion-content>
</ion-view>