<!--
    共享流程
     -->
<div class="hbox hbox-auto-xs hbox-auto-sm">
    <!-- main -->
    <div class="col" ng-controller="FlowCtrl">
        <!-- main header -->
        <div class="bg-light lter b-b wrapper-md">
            <div class="row" style=" padding-right: 15px; ">
                <div class="col-sm-6 col-xs-12">
                    <span class="h3" ng-bind="menuData.DisplayName"></span>
                </div>
            </div>
        </div>

        <!--表格部分Start-->
        <div class="wrapper-md paddingbottomNone">
            <div class="panel panel-default">
                <div class="table-responsive">
                    <div class="form-inline search-box">
                        <div class="input-group searchContainer">
                            <!--名称-->
                            <div class="header-search-item">
                                <span class="search-title-text">{{LanJson.ProcessName}}</span>
                                <div class="form-group">
                                    <input ng-model="InstanceName" maxlength="32" class="input form-control" placeholder="{{LanJson.ProcessName}}" />
                                </div>
                            </div>
                            <!--标签-->
                            <div class="header-search-item">
                                <span class="search-title-text">标签</span>
                                <div class="form-group">
                                    <input autocomplete="off" id="proName" maxlength="32" class="input form-control" placeholder="标签"/>
                                </div>
                            </div>
                            <!--流程模板控件-->
                            <div class="header-search-item">
                                <span class="search-title-text">{{LanJson.WorkFlow}}</span>
                                <div class="form-group">
                                    <div ui-jq="SheetWorkflow" ui-options="WorkflowOptions" id="sheetWorkflow" style="width:270px;min-height: 32px !important;"></div>
                                </div>
                            </div>
                            <!--完成时间-->
                            <div class="header-search-item">
                                <span class="search-title-text">{{LanJson.FinishTime}}</span>
                                <div class="form-group search-time-box">
                                    <div class="input-group">
                                        <input ng-model="StartTime" id="StartTime"
                                               autocomplete="off"
                                               ui-jq="wdatePicker" style="width:120px;"
                                               class="input form-control"
                                               placeholder="{{LanJson.StartTime}}" />
                                        <span class="input-group-addon" style="border-left:0;border-right:0;" translate="QueryTableColumn.To"></span>
                                        <input ng-model="EndTime" id="EndTime"
                                               autocomplete="off"
                                               class="input form-control" style="width:120px;"
                                               ui-jq="wdatePicker"
                                               placeholder="{{LanJson.EndTime}}" />
                                    </div>
                                </div>
                            </div>
                            <!--查询-->
                            <div class="form-group">
                                <input ng-model="searchKey" type="text" class="input form-control" style="width:200px;display:none;"
                                       placeholder="{{LanJson.search}}">
                                <span class="input-group-btn"></span>
                            </div>
                            <button class="btn btn-primary search-box-btn" type="button">查询</button>
                        </div>
                    </div>

                    <table ui-jq="dataTable" id="tabfinishWorkitem"
                           ui-options="dtOptions_tabfinishWorkitem"
                           class="table table-striped m-b-none" style="width:99.5%;">
                        <thead>
                            <tr>
                                <th> <span translate="QueryTableColumn.Name"></span></th>
                                <th><span translate="QueryTableColumn.Title"></span></th>
                                <th class="hide1024"><span translate="QueryTableColumn.ReceiveTime"></span></th>
                                <th class="hide414"><span translate="QueryTableColumn.FinishTime"></span></th>
                                <th class="hide414"><span translate="QueryTableColumn.Originator"></span></th>
                                <th class="hide1024"><span translate="QueryTableColumn.DeptOfOriginator"></span></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--表格部分End-->
    </div>
    <!-- / main -->
</div>
<script type="text/javascript">
    var controllerScope = $('div[ng-controller="FlowCtrl"]').scope();
    //fileMemuTile的值关联fileManagerConfig.fileMemuTitle枚举类型的key值
    controllerScope.fileMemuTile = 'allFlows';
</script>