/backend/portal-web/target/classes
/backend/portal-web/*.classpath
/backend/portal-web/*.project
/backend/portal-web/.settings
/backend/portal-web/bin/com/h3bpm/web
/frontend/Portal/.idea
/.idea
/backend/portal-web/target
/backend/portal-web/h3bpm-portal-web.iml
