<!--
    共享流程
     -->
<div class="hbox hbox-auto-xs hbox-auto-sm">
  <!-- main -->
  <div class="col" ng-controller="projectManagerCtrl">
    <!-- main header -->
    <div class="wrapper-md">
      <div class="row">
        <div class="col-sm-6 col-xs-12 form-title-name">
          <span class="h3" ng-bind="menuData.DisplayName"></span>
        </div>
        <div class="col-sm-6 col-xs-12">
          <button class="btn btn-default btn-sm" style="float: right">
            <i class="glyphicon glyphicon-plus" ng-click="createProjectManager()"><span
                style="margin-left: 5px">新建</span></i>
          </button>
        </div>
      </div>
    </div>

    <!--表格部分Start-->
    <div class="wrapper-md paddingbottomNone">
      <div class="panel panel-default">
        <div class="table-responsive">
          <div class="form-inline search-box">
            <div class="input-group searchContainer">
              <!--名称-->
              <div class="header-search-item">
                <span class="search-title-text">关键字</span>
                <div class="form-group">
                  <input ng-model="ProjectManagerKeyword" maxlength="32" class="input form-control" style="width: 300px"
                    id="ProjectManagerKeyword" placeholder="可输入项目名称中的关键字" />
                </div>
              </div>
              <div class="header-search-item">
                <span class="search-title-text">负责人</span>
                <div class="form-group">
                  <div ui-jq="SheetUser" ui-options="ProjectManagerLeader" id="ProjectManagerLeader" class="form-horizontal">
                  </div>
                </div>
              </div>
              </br>
              <div class="header-search-item">
                <span class="search-title-text">开始时间</span>
                <div class="form-group search-time-box">
                  <div class="input-group">
                    <input id="ProjectManagerStartTimeStart" autocomplete="off" ui-jq="wdatePicker"
                      ui-options="ProjectManagerStartTimeStart" class="input form-control" />
                    <span class="input-group-addon" style="border-left:0;border-right:0;"
                      translate="QueryTableColumn.To"></span>
                    <input autocomplete="off" id="ProjectManagerStartTimeEnd" class="input form-control"
                      ui-jq="wdatePicker" ui-options="ProjectManagerStartTimeEnd" />
                  </div>
                </div>
              </div>
            </br>
              <div class="header-search-item">
                <span class="search-title-text">结束时间</span>
                <div class="form-group search-time-box">
                  <div class="input-group">
                    <input id="ProjectManagerEndTimeStart" autocomplete="off" ui-jq="wdatePicker"
                      ui-options="ProjectManagerEndTimeStart" class="input form-control" />
                    <span class="input-group-addon" style="border-left:0;border-right:0;"
                      translate="QueryTableColumn.To"></span>
                    <input autocomplete="off" id="ProjectManagerEndTimeEnd" class="input form-control"
                      ui-jq="wdatePicker" ui-options="ProjectManagerEndTimeEnd" />
                  </div>
                </div>
              </div>

              &nbsp;&nbsp;&nbsp;&nbsp;
              <button class="btn btn-primary search-box-btn" id="ProjectManagerSearch" type="button">
                查询
              </button>
            </div>
          </div>

          <table ui-jq="dataTable" id="tabProjectManager" ui-options="ProjectManagerOptions"
            class="table table-striped m-b-none" style="width: 99.5%">
            <thead>
              <tr>

                <th style="width: 200px"><span>项目名称</span></th>
                <th ><span>负责人</span></th>
                <th > <span>开始时间</span></th>
                <th ><span>结束时间</span></th>
                <th class="hide1024" style="width: 120px"><span>操作</span></th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
    <div ng-include="'ProjectManager/modals.html'"></div>
    <!--表格部分End-->
  </div>
  <!-- / main -->
</div>