<ion-view cache-view="true" title="{{InstanceTitle}}" hide-nav-bar="{{$root.dingMobile.hideHeader}}">
    <ion-nav-bar class="bar">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-ios-arrow-left"
                    ng-click="ClosePage()">
                返回
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="scroll-content ionic-scroll {{$root.dingMobile.dingHeaderClass}} has-footer "
                 id="mobile-content">
    </ion-content>
    <ion-footer-bar align-title="left" class="bar">
        <ul style="display: none!important" class="nav navbar-nav SheetToolBar" id="Ul1" runat="server"></ul>
        <div class="button-bar button-full" id="dvmButtons">
        </div>
    </ion-footer-bar>
</ion-view>
