<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!--<div class="navbar-header">-->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="navbar-form navbar-left">
            <input type="text" class="form-control" id="mySearch">
            <input type="button" value="搜索" class="form-control" ng-click="mySearch('mySearch');">
        </div>
        <!--</div>-->
        <div id="navbar" class="navbar-collapse collapse">
            <div class="navbar-form navbar-right">
                <button class="btn btn-default btn-sm">
                    <i class="glyphicon glyphicon-plus" ng-click="myNewFolder()"><span style="margin-left: 5px;">新建文件夹</span></i>
                </button>

                <button class="btn btn-default btn-sm">
                    <i class="glyphicon glyphicon-upload" ng-click="myUploadFile()"><span style="margin-left: 5px;">上传文件</span></i>
                </button>

                <button class="btn btn-default btn-sm" ng-click="$parent.setTemplate('main-icons.html')" ng-show="$parent.viewTemplate !== 'main-icons.html'" title="{{'icons' | translate}}">
                    <i class="glyphicon glyphicon-th-large"></i>
                </button>
                <button class="btn btn-default btn-sm" ng-click="$parent.setTemplate('main-table.html')" ng-show="$parent.viewTemplate !== 'main-table.html'" title="{{'list' | translate}}">
                    <i class="glyphicon glyphicon-th-list"></i>
                </button>
            </div>
        </div>
    </div>
</nav>
