.l-form {
    color: #3B3B3B;
    overflow: visible;
}

    .l-form .l-group {
        color: #1b7fbb;
        /*height: 30px;*/
        background-color: #EEE;
        border-radius: 3px;
        padding-top: initial;
        /*margin-top: 10px;*/
    }
