/* 多选和单选样式 */
.checkbox {
    padding-left: 20px;
  }
  .checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
  }
  .checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  }
  .checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
  }
  .checkbox input[type="checkbox"] {
    opacity: 0;
    z-index: 1;
  }
  .checkbox input[type="checkbox"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  .checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c";
  }
  .checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65;
  }
  .checkbox input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed;
  }
  .checkbox.checkbox-circle label::before {
    border-radius: 50%;
  }
  .checkbox.checkbox-single label {
    height: 17px;
  }
  .checkbox.checkbox-inline {
    margin-top: 0;
  }
  .checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #2970ff;
    border-color: #2970ff;
  }
  .checkbox-primary input[type="checkbox"]:checked + label::after {
    color: #fff;
  }
  .checkbox-danger input[type="checkbox"]:checked + label::before {
    background-color: #F4454E;
    border-color: #F4454E;
  }
  .checkbox-danger input[type="checkbox"]:checked + label::after {
    color: #fff;
  }
  .checkbox-info input[type="checkbox"]:checked + label::before {
    background-color: #40A9FF;
    border-color: #40A9FF;
  }
  .checkbox-info input[type="checkbox"]:checked + label::after {
    color: #fff;
  }
  .checkbox-warning input[type="checkbox"]:checked + label::before {
    background-color: #FAAD14;
    border-color: #FAAD14;
  }
  .checkbox-warning input[type="checkbox"]:checked + label::after {
    color: #fff;
  }
  .checkbox-success input[type="checkbox"]:checked + label::before {
    background-color: #32B683;
    border-color: #32B683;
  }
  .checkbox-success input[type="checkbox"]:checked + label::after {
    color: #fff;
  }
  .radio {
    padding-left: 20px;
  }
  .radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
  }
  .radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
  }
  .radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  }
  .radio input[type="radio"] {
    opacity: 0;
    z-index: 1;
  }
  .radio input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  .radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  .radio input[type="radio"]:disabled + label {
    opacity: 0.65;
  }
  .radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed;
  }
  .radio.radio-inline {
    margin-top: 0;
  }
  .radio.radio-single label {
    height: 17px;
  }
  .radio-primary input[type="radio"] + label::after {
    background-color: #2970ff;
  }
  .radio-primary input[type="radio"]:checked + label::before {
    border-color: #2970ff;
  }
  .radio-primary input[type="radio"]:checked + label::after {
    background-color: #2970ff;
  }
  .radio-danger input[type="radio"] + label::after {
    background-color: #F4454E;
  }
  .radio-danger input[type="radio"]:checked + label::before {
    border-color: #F4454E;
  }
  .radio-danger input[type="radio"]:checked + label::after {
    background-color: #F4454E;
  }
  .radio-info input[type="radio"] + label::after {
    background-color: #40A9FF;
  }
  .radio-info input[type="radio"]:checked + label::before {
    border-color: #40A9FF;
  }
  .radio-info input[type="radio"]:checked + label::after {
    background-color: #40A9FF;
  }
  .radio-warning input[type="radio"] + label::after {
    background-color: #FAAD14;
  }
  .radio-warning input[type="radio"]:checked + label::before {
    border-color: #FAAD14;
  }
  .radio-warning input[type="radio"]:checked + label::after {
    background-color: #FAAD14;
  }
  .radio-success input[type="radio"] + label::after {
    background-color: #32B683;
  }
  .radio-success input[type="radio"]:checked + label::before {
    border-color: #32B683;
  }
  .radio-success input[type="radio"]:checked + label::after {
    background-color: #32B683;
  }
  /*# sourceMappingURL=build.css.map */
ol.linenums {
    margin-top: 0;
    margin-bottom: 0
}

li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 {
    list-style-type: none
}

li.L1,li.L3,li.L5,li.L7,li.L9 {
    background: #eee
}

pre.prettyprint {
    border: 0;
    border-left: 3px solid #ccc;
    padding: .5em;
    font-size: 110%;
    display: block;
    font-family: Consolas,Monaco,"Bitstream Vera Sans Mono","Courier New",Courier,monospace;
    margin: 1em 0;
    white-space: pre
}

html,body {
    width: 100%;
    height: 100%;
    line-height: initial;
    font-family: "微软雅黑";
    font-size: 14px;
    color:rgba(0,0,0,.85);
    background: #fff;
}

/*prettify'*/
.container {
    width: 100%;
    height: 100%;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}

.col-md-12 {
    width: 100%;
}

.col-md-11 {
    width: 91.66666667%;
}

.col-md-10 {
    width: 83.33333333%;
    color:rgba(0,0,0,.85);
}

.col-md-9 {
    width: 75%;
}

.col-md-8 {
    width: 66.66666667%;
}

.col-md-7 {
    width: 58.33333333%;
}

.col-md-6 {
    width: 50%;
}

.col-md-5 {
    width: 41.66666667%;
}

.col-md-4 {
    width: 33.33333333%;
    color:rgba(0,0,0,.85);
}

.col-md-3 {
    width: 25%;
}

.col-md-2 {
    width: 16.66666667%;
    color:rgba(0,0,0,.65);
}

.col-md-1 {
    width: 8.33333333%;
}

div.SheetRadioButtonList > div[gropname] > input[type="radio"]:checked + label:before {
    content: '\00a0\2714';
}

.printHidden {
    /*display: none;*/
}

.viewHidden {
    display: block;
}
/*print*/
img {
    border-width: 0;
}

body {
    line-height: initial;
}

div {
    word-break: break-all;
}

.ui-icon-back {
    margin-top: 5px;
}

.divContent {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 10px;
}

.printTable {
    display: none;
}

.tableStyle {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
    border: 0 solid #A5A5A8;
    border-bottom: 0 solid #A5A5A8;
    margin: 0 auto;
}

.tableStyle td {
    height: 30px;
    padding: 3px;
}

.tableStyle th {
    height: 30px;
    text-align: center;
}

.tdTitle {
    min-height: 30px;
    width: 12%;
}
#form1{
    width: 100%;
    height: 100%;
}
.DragContainer{
    width: 100%;
    font-size: 28px;
    font-family: PingFang-SC-Regular;
    font-weight: 400;
    color: rgba(0,0,0,.85);
    line-height: 36px;
    padding: 16px;
    text-align: center;
    outline: none;
    border-bottom: 1px dashed #d9d9d9;
}
.bannerTitle {
    font-weight: 500;
    color: rgba(0,0,0,.85);
    font-size: 18px;
    line-height: 30px;
    width: 100%;
    padding: 12px 0;
    cursor: pointer;
}
.bannerTitle .aufontAll{
    margin-left: .5em;
    margin-right: 9px;
    font-size: 10px;
    display: inline-block;
}
.expanded{
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)!important;

     transition: -webkit-transform .24s;
     transition: transform .24s;
     transition: transform .24s,-webkit-transform .24s;
}
.bannerTitle label {
    padding-left: 5px;
    cursor: pointer;
}
.back-top{
    cursor: pointer;
    position: fixed;
    right: 40px;
    bottom: 40px;
    width: 40px;
    height: 40px;
    background: rgba(0,0,0,.45);
    border-radius: 50%;
    color: #fff;
    font-weight: 700;
    text-align: center;
    z-index: 999;
    display: none;
}
.back-top .aufontAll{
    line-height: 40px;
    font-size: 18px;
}
.hrSplit {
    margin-top: 3px;
    margin-bottom: 8px;
    border-width: 2px;
    border-color: #9B9690;
}

input:disabled {
    background-color: #FFF;
    border-width: 0;
}

a {
    cursor: pointer;
}

a[disabled='disabled'] {
    color: #d6d6d6;
}

a[disabled='disabled'] span {
    color: #d6d6d6;
}

.panel-title {
    font-size: 28px;
}

.toolBar {
    background-color: #FFF;
}

.toolImage {
    color: dodgerblue;
    font-size: 14px;
}


.divButton {
    margin: 2px;
    padding: 2px;
    border: 1px solid transparent;
    _border-color: tomato;
    _filter: chroma(color=tomato);
    border-right: 1px dotted #ccc;
}

/*A:link {*/
    /*color: #0060a5;*/
    /*text-decoration: none;*/
/*}*/

/*A:visited {*/
    /*color: #0060a5;*/
    /*text-decoration: none;*/
/*}*/

/*A:active {*/
    /*color: #0060a5;*/
    /*text-decoration: none;*/
/*}*/

/*A:hover {*/
    /*color: #666;*/
    /*text-decoration: none;*/
/*}*/
input[type=text], select, table {
    padding-left: 3px;
    min-height: 32px;
    width: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    transition: all .3s;
}
input:focus{
    outline: 0;
    border-color:#5291ff;
    box-shadow: 0 0 0 2px rgba(41,112,255,.2);
}
textarea:focus{
    outline: 0;
    border-color:#5291ff;
    box-shadow: 0 0 0 2px rgba(41,112,255,.2);
}
textarea{
    border-radius: 4px;
    border: 1px solid #d9d9d9;
}
select:focus{
    outline: 0;
    border-color:#5291ff;
    box-shadow: 0 0 0 2px rgba(41,112,255,.2);
}
.inputMouseOut {
    border-radius: 4px;
    border: 1px solid #d9d9d9;
}

.inputMouseOut span {
    border: 0;
}

.inputMouseOut table {
    border: 0;
}

.inputMouseMove {
    /* border-color: #5291ff; */
}

.inputMouseEnter {
    border-radius: 4px;
    outline: 0;
    border:1px solid #5291ff;
}

.inputRequired {
    border: 1px solid #F00;
}

.inputError {
    border: 1px dashed #F00;
}

.InvalidText {
    color: #F00;
    font-family: 宋体, 'Times New Roman', 黑体;
    padding-left: 3px;
}

.select2-container {
    width: 100%;
}

textarea {
    height: 80px;
    overflow: visible;
    word-break: break-all;
    width: 100%;
    border-radius: 4px;
    padding: 3px;
    min-height: 40px;
}

.Readonly {
    border: 0 solid;
}

.error {
    font-size: 12px;
    color: #F00;
}

.tableRadion {
    border-width: 0;
}

.tdData {
    width: 38%;
    font-size: 13px;
    padding-left: 5px;
}

.tdComment input[type=text] {
    height: 13px;
}

.processTitle {
    text-align: center;
    width: 100%;
    font-size: 26px;
    font-weight: bold;
}

.controlEditableClass {
    border: expression((this.type=="text")?"solid 1px #C2C2C2":"");
    background-color: #ff0fe0;
}

.controlRequiredClass {
    border: expression((this.type=="text")?"solid 1px #C2C2C2":"");
    background-color: #ffffe0;
}

.controlInvalidClass {
    border: expression((this.type=="text")?"solid 1px #C2C2C2":"");
    background-color: #ffffe0;
}

.MobileStyle {
    width: 100%;
    border-collapse: collapse;
    font-size: 15px;
    border: none;
    background-image: url(../../Mobile/images/bg_body.png);
    font-family: "微软雅黑", "宋体";
}

.MobileStyle_td {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px #ccc solid;
    padding: 5px 0 5px 5px;
}

.NormalStyle {
    height: inherit;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding: 5px;
}

.hidden {
    display: none;
}

.select2-container-multi .select2-choices .select2-search-field input {
    height: 32px;
}

.cke {
    width: 100% !important;
}

.SheetAttachment {
    width: 100%;
}

.SheetComment {
    width: 100%;
}

.SheetComment textarea {
    width: 100%;
    margin-bottom: 3px;
}

.SheetCheckBoxList, .SheetRadioButtonList {
    border: 0;
}

.form-control {
    border: 1px solid #817C7C;
}

.template {
    display: none;
}

.SheetGridView {
    width: 100%;
}

.SheetGridView .txtAlignRight {
    width: 99%;
}

.SheetGridView .rows td {
    padding-left: 3px;
    padding-right: 3px;
}

.SheetGridView .rowSerialNo {
    width: 45px;
}

.SheetGridView .rowOption {
    width: 55px;
}

.SheetGridView td {
    padding-top: 3px;
    padding-bottom: 3px;
}

.SheetGridView .rowOption .insert {
    padding-left: 8px;
}

.SheetGridView td {
    border: 1px solid #C7C7C7 !important;
}

.SheetGridView input[type=text], .SheetGridView select, .SheetGridView .SheetAttachment {
    padding-left: 3px;
    min-height: 28px;
    width: 99%;
}

.SheetGridView .header {
    text-align: center;
    height: 28px;
    background-color: #F7F7F7;
}

.SheetGridView .footer {
    text-align: right;
    height: 28px;
}

.SheetGridView .footer td {
    padding-right: 3px;
}

.SheetGridView .rowOption {
    min-width: 38px;
    text-align: center;
}

.SheetGridView .rowOption {
    min-width: 38px;
    text-align: center;
}

.table-striped td {
    border: 0 !important;
}
.widget-comments{
    margin-bottom: 20px;
}
.widget-comments .comment-actions, .widget-comments .comment-actions a {
    color: #494949;
}

.LongWord {
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}

div.SheetRadioButtonList > div[gropname] > input[type="radio"], div.SheetCheckBoxList > div[gropname] > input[type="checkbox"] {
    display: none;
}

div.SheetRadioButtonList > div[gropname] > input[type="radio"] + label, div.SheetCheckBoxList > div[gropname] > input[type="checkbox"] + label {
    display: inline-block;
    width: 60%;
    float:right;
    position: relative;
    text-align: left;
    padding: 10px 0 0 0;
}

div.SheetCheckBoxList > div[gropname] > input[type="checkbox"] + label:before {
    background-color: #fafafa;
    border: 1px solid #cacece;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display: block;
    position: absolute;
    top: 8px;
    left: -25px;
    width: 1.3em;
    height: 1.3em;
    content: " ";
}

div.SheetCheckBoxList > div[gropname] > input[type="checkbox"]:checked + label:before {
    content: '\00a0\2714';
    padding: 0;
    display: inline-block;
}

div.SheetRadioButtonList > div[gropname] > input[type="radio"]:not(.toggle) + label:before {
    background-color: #fafafa;
    border: 1px solid #cacece;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    display: block;
    position: absolute;
    width: 1.3em;
    height: 1.3em;
    content: '';
    margin-right: 5px;
    top: 8px;
    margin-left: -25px;
}

div.SheetRadioButtonList > div[gropname] > input[type="radio"]:checked + label:before {
    background-color: #000;
}

.col-md-1 span, .col-md-2 span, .col-md-3 span, .col-md-4 span, .col-md-5 span, .col-md-6 span, .col-md-7 span, .col-md-8 span, .col-md-9 span, .col-md-10 span, .col-md-11 span, .col-md-12 span, .col-md-1 label, .col-md-2 label, .col-md-3 label, .col-md-4 label, .col-md-5 label, .col-md-6 label, .col-md-7 label, .col-md-8 label, .col-md-9 label, .col-md-10 label, .col-md-11 label, .col-md-12 label {
    margin-top: 7px;
    margin-bottom: 7px;
}

.widget-comments .comment-avatar {
    margin-top: 0;
}

.comment {
    padding: 15px;
}

.comment-text {
    padding-bottom: 6px;
}

.comment-body {
    padding-left: 50px;
    padding-bottom: 5px;
}

.comment-by {
    padding-bottom: 6px;
}

.comment-line {
    border-bottom: 0.5px solid #d9d9d9;
}

.cke_reset span {
    margin-top: 0;
}

.l-tree {
    overflow: initial !important;
}

.l-tree li .l-body {
    overflow: initial !important;
    white-space: nowrap;
}

.SheetAttachmentAdd, .SheetAttachmentUpload {
    cursor: pointer;
    display: inline;
    padding-right: 10px;
    padding-top: 30px;
}

.upload {
    padding-bottom: 8px;
}

select {
    cursor: pointer;
}

.SheetGridView .select2-container .select2-choice {
    height: 28px;
}

.select2-container {
    height: 30px;
    border: 0 !important;
}

.select2-choice {
    border: initial;
}

.select2-container .select2-choice {
    padding: 0 5px;
    height: 32px;
}

.select2-container .select2-choice .select2-chosen {
    margin-top: 5px;
}

.select2-container .select2-choice .select2-arrow {
    top: -8px;
    height: initial;
}

.select2-search:after {
    top: 16px;
}

.theme-default .select2-drop-active {
    border: 1px solid #d9d9d9;
}

.txtAlignRight {
    text-align: right;
    padding-right: 3px;
}

.modal-body {
    padding: initial;
}

.checkbox, .radio {
    margin: initial;
}

.checkbox label {
    margin: 0;
}

.select2-container-multi .select2-choices {
    padding-top: 2px;
    padding-bottom: 1px;
}

.select2-container-multi .select2-choices .select2-search-choice {
    margin-bottom: 2px;
}

.select2-results {
    margin: 3px;
}

.SheetHyperLink {
    /*position: relative;*/
    /*top: 7px;*/
    margin: 0.2em;
}

.viewHidden {
    display: none;
}

.ke-dialog-row input {
    width: 60px;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: rgba(0,0,0,.25);
}

.spanTitle {
    display: none;
}

.panel {
}

#content-wrapper {
    min-height: 630px;
}
#content-wrapper>div{
    width: 1032px;
    margin: 0 auto;
}
#content-wrapper .row{
    padding: 0;
    margin: 0;
}
#masterContent_divContent{
    width: 1032px;
    margin: 0 auto;
}
#main-navbar {
    box-shadow: 0 2px 8px rgba(30,85,255,.1);
    z-index: 99;
    position: fixed !important;
    top:0;
    left: 0;
    width: 100%;
    padding: 0 40px;
    height: 64px;
    border: none;
}
#main-navbar .navbar-inner {
    min-height: 64px;
    position: relative;
    left: 0;
    float: right;
}
.sheetContent,.panel{
}
.panel .navbar{
    margin-bottom: 0;
}
.form-logo{
    height: 100%;
    line-height: 64px;
}
.form-logo img{
    display: inline-block;
    width: 126px;
    height: 30px;
    margin: 17px 0;
}
@media screen and (max-width: 1280px) {
    .sheetContent {
        width: 80%;
    }
}

@media screen and (max-width: 1024px) {
    .sheetContent {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }

    .panel {
        min-height: 300px;
    }

    #content-wrapper {
        padding: 76px 0 0;
    }

    #main-navbar {
        -moz-box-shadow: 0 0 5px #5C616B;
        -webkit-box-shadow: 0 0 5px #5C616B;
        box-shadow: 0 0 5px #5C616B;
        left: 0;
        right: 0;
        position: absolute;
        width: inherit;
    }
}


@media (min-width: 768px) {
    .navbar-nav {
        float: right;
        margin: 0;
    }
}

.theme-default #main-navbar .navbar-nav > li {
    border-right: none;
    height: 64px;
    padding-left: 10px;
}
.theme-default #main-navbar .navbar-nav > li a{
    margin:16px 0;
}
.btn-action,.btn-action-pri{
    line-height: 1.5;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 0 15px;
    font-size: 14px;
    border-radius: 4px;
    height: 32px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    position: relative;
    margin-right: 8px;
}
.btn-action-pri{
    color: #fff;
    background-color: #2970ff;
    border-color: #2970ff;
}
.btn-action{
    background-color: #fff;
    border-color: #d9d9d9;
    color: rgba(0,0,0,.65);
}
.btn-action span,
.btn-action-pri span
{
    line-height: 30px;
}
.btn-action:hover,
.btn-action:focus {
    color: #5291ff;
    border-color: #5291ff;
}
.SheetToolBar .btn-action-pri:hover,
.SheetToolBar .btn-action-pri:focus {
    color: #fff;
    background-color: #5291ff!important;
    border-color: #5291ff;
}
.modal-backdrop.in {
    opacity: 0;
}

.modal-backdrop {
    z-index: 0;
    opacity: 0;
}
.item {
    border-bottom: 0;
    padding: 6px;
}

.item-checkbox {
    padding-left: 60px;
}

.list {
    margin-bottom: 0;
}
.pic-img{
    width: 200px;
    height: 200px;
}
.checkbox label::after{
    padding-top: 3px;
    margin-left: -21px;
}
.widget-comments .comment-avatar{
    display: block;
    float: left;
    height: 32px;
    margin-top: 5px;
    width: 32px;
    border-radius: 99999px;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.loading-data-box .icon-loading{
    display: inline-block;
    width: 26px;
    height: 26px;
    background: url('../../img/loading.png');
    text-align: center;
    -webkit-animation: pageLoading 1.5s linear infinite;
    animation: pageLoading 1.5s linear infinite;
    -webkit-animation: spin 1s linear 1s 5 alternate;
    animation: spin 1s linear infinite;
}
.main-container{
    background: #fff;
}
.toolText{}
/*
 *  STYLE 2
 */

::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    border-radius: 5px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 5px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
    background-color: rgba(0, 0, 0, 0.5);
}
em{
    font-style: italic;
    padding-right:5px;
}