
html {
    font-size: 14px;
}

html body {
    font-size: 14px;
    white-space: normal;
    word-break: break-all;
}

/* ion-content {
    overflow-scroll: true;
}

.scroll-content,.scroll {
    width: 100%;
    -webkit-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    user-select: auto !important;
    overflow-y: scroll;
    pointer-events: auto!important;
    padding-bottom: 0!important;
}

.selectable {
    -webkit-user-select: auto;
} */
ion-content {
    overflow-scroll: true;
}
.scroll-content,.scroll {
    width: 100%;
    overflow-y: scroll;
    pointer-events: auto!important;
    user-select: auto !important;
}
/*鏍囬*/
#ionicForm .panel-title {
    display: none;
}

.title.title-center.header-item {
    left: 65px !important;
    right: 65px !important;
}
/*涓烘瘡涓�椤规坊鍔犱笅鍒掔嚎hasBorderBottom*/
/*#ionicForm .hasBorderBottom{
    border-bottom:1px solid #e4e4e4 !important;
}*/
#ionicForm .hasBorderBottom {
    position: relative;
}

#ionicForm .hasBorderBottom:after {
    width: 100%;
    height: 1px;
    background: #e4e4e4;
    display: block;
    position: absolute;
    left: 10px;
    bottom: 0px;
    content: '';
    z-index: 2;
}
/*links*/
.viewHidden {
    display: none !important;
}

.SheetHyperLink {
    white-space: normal;
}
/*timespan*/
.timespan-popup .popup {
    white-space: nowrap;
}
/*ou*/
.detail.editableOU {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
}

.detail.uneditableOU {
    width: 100%;
}

    .detail.uneditableOU .input-label {
        display: block !important;
        max-width: 100% !important;
        white-space: normal !important;
        width: 100% !important;
    }
/*checkbox*/
.detail .SheetCheckBoxList {
    white-space: normal;
}
/*logictitle*/
.checkboxtitle {
    display: block;
    width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    color: #797f89;
}
.no-data{
    height: 44px;
    background: #fbfbfb;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8B939F;
    font-size:12px;
    position: relative;
    margin-top: -1px;
    z-index: 3;
}
/*琛ㄥ崟椤�*/
.item {
    margin: 0px !important;
    width: 100% !important;
}

.list {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    position: initial !important;
}

#ionicForm .item {
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
    border: 0;
    position:relative;
    overflow:visible;
}

    #ionicForm .item > .input-label {
        color: #2c3038;
    }

    #ionicForm .item .detail {
        color: #797f89;
        pointer-events: auto;
    }

.item.item-input .detail span, .item.item-input .detail input, .item.item-input .detail label {
    font-size: 16px;
}

.item-toggle {
    min-height: 44px;
}

#ionicForm .item .detail label {
    white-space: normal;
}

#ionicForm .item .detail.textarea {
    width: 65%;
}

#ionicForm .item .detail span {
    color: #797f89;
}

#ionicForm .item .detail i {
    color: #ccc;
}

#ionicForm .item .detail input, #ionicForm .item .detail textarea {
    color: #2c3038;
    font-size: 16px;
    position: initial !important;
}

#ionicForm .item .detail ::-webkit-input-placeholder {
       color: rgb(121, 127, 137);
}

#ionicForm .item .detail [readonly] {
    background: #fff;
}

#ionicForm .item .detail textarea {
    resize: none;
}

#ionicForm .textarea-item {
    align-items: flex-start;
}

    #ionicForm .textarea-item .input-lebal {
        padding-top: 5px;
    }


#ionicForm .item-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #999;
    width: 100%;
}

    #ionicForm .item-title .button {
        background: #ecf5fd;
        color: #3c8cea;
        font-size: 14px;
    }

#ionicForm .list.attachment {
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}
/*闄勪欢*/
.detail .paperclip {
    width: 16px;
    height: 19px;
    background: url('../images/Mobile/paperclip.svg');
    background-size: 100% 100%;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.SheetAttachment .img, .SheetAttachment .ppt, .SheetAttachment .word, .SheetAttachment .pdf, .SheetAttachment .excel, .SheetAttachment .file {
    display: block;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
    flex-shrink: 0;
}

.SheetAttachment .img {
    background: url('../images/Mobile/pic.svg');
    background-size: 100% 100%;
    background-position: left top;
}

.SheetAttachment .ppt {
    background: url('../images/Mobile/ppt.svg');
    background-size: 100% 100%;
    background-position: left top;
}

.SheetAttachment .word {
    background: url('../images/Mobile/word.svg');
    background-size: 100% 100%;
    background-position: left top;
}

.SheetAttachment .pdf {
    background: url('../images/Mobile/pdf.svg');
    background-size: 100% 100%;
    background-position: left top;
}

.SheetAttachment .excel {
    background: url('../images/Mobile/excel.svg');
    background-size: 100% 100%;
    background-position: left top;
}

.SheetAttachment .file {
    background: url('../images/Mobile/file.svg');
    background-size: 100% 100%;
    background-position: left top;
}

/*瀛愯〃*/
.SheetGridView {
    background:#fff;
    z-index:2;
    position:relative;
    margin-top:-1px;
}
.SheetGridView .detail {
    white-space: normal;
}

.SheetGridView .item-title {
    background: #ecf5fd;
}

.SheetGridView .item-title span {
    position: relative;
    padding-left: 4px;
}

.SheetGridView .item-title span:after {
    position: absolute;
    left: -3px;
    top: 50%;
    margin-top: -6px;
    display: block;
    width: 3px;
    height: 12px;
    background: #3c8cea;
    content: '';
}

.SheetGridView .item-index {
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
    align-items: center;
    height: 60px;
}

.SheetGridView .item-content {
    border: 0 !important;
}


.slider-slide .list-title {
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.slider-slide .list-title-left {
    font-size: 15px;
    color: #666;
    position: relative;
}

.slider-slide .list-title-right {
    display: flex;
}


.list-title {
    border-bottom: 1px solid #e4e4e4;
}

.list-title-right .copy, .list-title-right .delete {
    width: 18px;
    height: 18px;
    text-indent: -99px;
    overflow: hidden;
    background-position: left top;
    margin-right: 5px;
}

.list-title-right .delete {
    background: url('../images/Mobile/delete.svg');
    background-size: 100% 100%;
}

.list-title-right .copy {
    background: url('../images/Mobile/blockadd.svg');
    background-size: 100% 100%;
    margin-right: 15px;
}
/*tab-mode*/
.tab-mode .item-index .buttons-right {
    color: #007aff;
    flex-shrink: 0;
    padding-left: 10px;
}

.tab-mode .item-index .buttons-left {
    flex-grow: 1;
}

    .tab-mode .item-index .buttons-left .button {
        width: 30px;
        height: 30px;
        box-sizing: border-box;
        text-align: center;
        font-size: 16px;
        color: #999;
        background: #fff;
        border: 1px solid #bdbdbd;
        border-radius: 2px;
    }

        .tab-mode .item-index .buttons-left .button:not(:first-of-type) {
            margin-left: 10px;
        }

    .tab-mode .item-index .buttons-left .button-blue {
        border-color: #007aff;
        color: #007aff;
    }

.tab-mode .scroll-view.scroll-x {
    overflow-x: hidden;
    max-width: 275px;
}

.tab-mode .slider-slide {
    border: 1px solid #e7e7e7;
    box-shadow: 0px 5px 15px rgba(183,200,224,0.5);
    border-radius: 10px;
    overflow: hidden;
    float: none;
    margin: 10px 10px 20px 10px;
    width: initial;
}

    .tab-mode .slider-slide .item {
        border-radius: 10px;
    }

.tab-mode .addbtn {
    display: none !important;
}
/*list-mode*/
.list-mode .item-index {
    display: none !important;
}

.list-mode .slider-slide {
    display: block !important;
}

.SheetGridView .addbtn {
    height: 48px;
    font-size: 16px;
    color: #007aff;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .SheetGridView .addbtn span {
        font-size: 35px;
        margin-right: 10px;
        margin-top: -10px;
    }
/*渚ф粦*/
/*鍗曢��*/
.popover {
    opacity: 1;
    width: 88%;
    right: 0;
    top: 0;
    left: initial;
    margin: 0 !important;
    height: 100%;
    border-radius: 0 !important;
}

.modal-backdrop.active {
    background: rgba(0,0,0,0.55) !important;
}

.MvcPopover .search {
    padding-left: 45%;
    transition: all linear 0.1s;
    border: 1px solid #ccc;
    color: #8b939f;
    background: #fff;
}

    .MvcPopover .search.focused {
        padding-left: 6px;
    }

.MvcPopover .bar-subheader {
    border-bottom: 0;
    height: 60px;
}

.MvcPopover .has-subheader {
    top: 104px;
}

.MvcPopover .bar-header button {
    font-size: 16px;
    color: #007aff !important;
}

    .MvcPopover .bar-header button:before {
        font-size: 20px !important;
    }

.MvcPopover .bar-header h1 {
    font-size: 16px;
    color: #2c3038;
}

.MvcPopover .bar-footer {
    padding: 0;
    border-top: 1px solid #e4e4e4;
    display: flex;
    justify-content: space-between;
}

    .MvcPopover .bar-footer .close {
        background: #77bcfa;
        color: #fff;
        text-align: center;
        width: 128px;
        font-size: 17px;
        line-height: 44px;
    }

    .MvcPopover .bar-footer .footer-left {
        font-size: 17px;
        color: #77bcfa;
        margin-left: 10px;
        line-height: 44px;
        flex-grow: 1;
    }

.MvcPopover .radio-content .item-content {
    background: #fff !important;
}

.MvcPopover .item-radio {
    border: 0;
    border-bottom: 1px solid #e4e4e4 !important;
    margin-top: 1px;
}

.MvcPopover .ion-checkmark:before {
    display: none;
}

.MvcPopover .radio-icon {
    width: 40px;
    background: url('../images/Mobile/radiouc.svg') no-repeat center center /20px 20px;
    visibility: visible;
}

.MvcPopover .item-radio input:checked + .radio-content .radio-icon {
    width: 40px;
    background: url('../images/Mobile/radioc.svg') no-repeat center center /20px 20px;
}

.MvcPopover .item-radio.activated {
    background-color: transparent !important;
}

.MvcPopover .item-radio .item-content {
    padding: 7px 10px;
}
/*澶氶��*/
.MvcPopover .item-checkbox {
    border: 0 !important;
    border-bottom: 1px solid #e4e4e4 !important;
    margin: 0 !important;
    padding: 13px 60px 13px 10px;
}

.MvcPopover .checkbox-icon {
    position: absolute;
    right: 0;
}

    .MvcPopover .checkbox-icon:before, .MvcPopover .checkbox-icon:after {
        display: none;
    }

.MvcPopover .checkbox input + .checkbox-icon {
    background: url('../images/Mobile/checkboxuc.svg') no-repeat center center/20px 20px;
}

.MvcPopover .checkbox input:checked + .checkbox-icon {
    background: url('../images/Mobile/checkboxc.svg') no-repeat center center/20px 20px;
}
/*鍏宠仈琛ㄥ崟*/
.associationQuery {
}

    .associationQuery .bar-footer {
        padding: 0;
        border-top: 1px solid #e4e4e4;
        display: flex;
        justify-content: flex-end;
    }

        .associationQuery .bar-footer .close {
            background: #77bcfa;
            color: #fff;
            text-align: center;
            width: 128px;
            font-size: 17px;
            line-height: 44px;
        }

    .associationQuery .item {
        padding: 0 0 0 50px !important;
        margin-top: 1px;
    }

    .associationQuery .queryList {
        border-bottom: 1px solid #e4e4e4;
        padding: 10px 10px 10px 0;
        line-height: 1.5;
        color: #2c3038;
    }
    .associationQuery .reset {
        text-align: left;
        width: 220px;
        font-size: 17px;
        line-height: 44px;
        color:#007aff !important;
    }
    .associationQuery .item:last-of-type .queryList {
        border-bottom: 0;
    }

    .associationQuery .item:after {
        position: absolute;
        left: 10px;
        top: 50%;
        display: block;
        content: '';
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
    }

    .associationQuery .item.choosed:after {
        background: url(../images/Mobile/radioc.svg) no-repeat center center/20px 20px;
    }

    .associationQuery .item:after {
        background: url(../images/Mobile/radiouc.svg) no-repeat center center/20px 20px;
    }

    .associationQuery #divFilter .item:after {
        display: none;
    }

    .associationQuery #divFilter .item {
        padding-left: 10px !important;
    }

        .associationQuery #divFilter .item:last-of-type {
            border-bottom: 1px solid #e4e4e4;
        }
    /*鍏宠仈琛ㄥ崟鏁版嵁涓虹┖*/
    .associationQuery .list-showEmpty {
        display: flex;
        justify-content: center;
        height: 100%;
        flex-direction: row;
    }

        .associationQuery .list-showEmpty img {
            margin-top: 30%;
            height: 270px;
        }

/*娴佺▼鐘舵�佸浘*/
.instanceState ion-content {
    background: #fbfbfb;
}

.instanceState .workspace_content {
    border: none;
}
/*鍗曡鏂囨湰婧㈠嚭*/
#ionicForm .detail > span {
    display: block;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}


.bannerTitle {
    text-align: left !important;
    width: 100% !important;
    background-color: #ECF5FD;
    min-height: 35px;
    line-height: 35px;
    color: #999;
    padding-left: 12px;
    padding-right: 12px;
    position: relative;
    z-index: 3;
    margin-top: -1px;
    display: flex;
    align-items: center;
}

    .bannerTitle > label {
        width: 100% !important;
        float: none !important;
        padding-left: 4px !important;
    }

    .bannerTitle:after {
        position: absolute;
        left: 10px;
        top: 50%;
        margin-top: -6px;
        display: block;
        width: 3px;
        height: 12px;
        background: #3c8cea;
        content: '';
    }

#ionicForm.ios7 .header .button {
    font-size: 110% !important;
    min-width: 60px;
}

#ionicForm ion-header-bar {
    color: #007aff !important;
    background-color: white !important;
    border-bottom: 1px solid #d8d8d8;
}

    #ionicForm ion-header-bar button {
        color: #007aff !important;
    }

    #ionicForm ion-header-bar .header-item.title {
        color: #2c3038;
    }

#ionicForm ion-footer-bar {
    border-top: 1px solid #d8d8d8;
    background-image: initial;
    padding-top: 5px;
    padding-bottom: 5px;
}

    #ionicForm ion-footer-bar .foot-button {
        color: #007aff;
    }

    #ionicForm ion-footer-bar .button-bar .button:after {
        right: 0;
        left: initial;
        width: 1px;
        background: #e4e4e4;
    }

    #ionicForm ion-footer-bar .button-bar .button:last-of-type:after {
        display: none;
    }
/*閿欒鎻愮ず*/
#ionicForm .InvalidText {
    line-height: initial;
    font-weight: bold;
    color: red;
}

.item.item-input .input-label:first-child {
    max-width: 96px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    flex-shrink: 0;
}

.input-label span {
    display: block;
    float: left;
}

    .input-label span:first-of-type {
        max-width: 86px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

#ionicForm .InvalidText.plentyWords {
    position: absolute;
    bottom: 0;
    left: 45%;
}

/*鍘嗗彶閬楃暀**************************************************/
.sheet-comment {
    width: 100%;
}

.panel {
    background-color: white !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

div[id*="masterContent"] {
    position: relative;
    width: 100%;
}

.panel-body {
    position: relative;
    width: 100%;
}

    .panel-body > * {
        position: relative;
        width: 100%;
    }

.divContent {
    width: 100% !important;
    overflow: hidden;
}

.form-group {
    width: 100%;
    height: 40px;
}

.row {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.col-md-4 > *,
.col-md-10 > * {
    line-height: 36px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

    .col-md-4 > *:only-child,
    .col-md-10 > *:only-child {
        width: 100% !important;
        /*text-overflow: ellipsis;
white-space: nowrap;*/
        word-break: break-all;
        overflow: hidden;
        display: block;
    }

.col-md-2 {
    display: none;
}

.col-md-4,
.col-md-10 {
    width: 67%;
    padding-right: 6px;
    float: right;
    /*border-top: 1px solid #eee;*/
    right: 0;
    left: 33%;
    overflow: visible;
}

    .col-md-4:before,
    .col-md-10:before {
        content: attr(data-title);
        width: 50%;
        float: left;
        margin-left: -50%;
        padding-left: 10px;
        margin-top: -1px;
        margin-right: -10px;
        line-height: 36px;
        border-top: 1px solid #eee;
        height: 100%;
        font-weight: bold;
    }

    .col-md-4:after,
    .col-md-10:after {
        content: "";
        width: 0;
        height: 0;
        clear: both;
    }

    .col-md-4 > *,
    .col-md-10 > * {
        line-height: 28px;
        padding-right: 10px !important;
        min-height: 28px;
        text-align: right !important;
        float: right;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
    }

.switchery {
    width: 50px !important;
    padding-right: 0 !important;
}

.col-md-4:empty,
.col-md-10:empty {
    display: none;
}

.input-mask:after {
    z-index: 99;
    font-size: 12px;
    top: 9px;
    right: 8px;
    text-align: center;
    font-family: 'chevron';
    content: "\f054";
    color: #c7c7cc;
    padding-left: 6px;
}

.input-mask.error:after {
    content: "!";
    line-height: 22px;
    font-size: 14px;
    width: 12px;
    height: 22px;
    border: solid 1px #ccc;
    color: red;
    font-weight: bold;
    border-radius: 15px;
    float: right;
    overflow: hidden;
    padding-right: 6px;
    font-family: cursive;
    margin-top: 6px;
    margin-left: 4px;
}

.select2-container {
    height: auto;
    overflow: hidden;
    padding: 0 10px 0 10px;
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.select2-choices {
    position: relative;
    width: 100%;
}

    .select2-choices li {
        float: left;
        list-style: none;
    }

.select2-search-choice {
    background-color: #b0b0b0;
    margin: 0 0 5px 5px;
    padding: 0 20px 0 6px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #fff;
    -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
    font-size: 11px;
    font-weight: 600;
    line-height: 20px;
}

.select2-search-field input {
    border: none;
}

    .select2-search-field input:focus {
        border: none;
        outline: none;
    }

.select2-search-choice-close {
    display: block;
    color: #fff;
}

    .select2-search-choice-close:after {
        color: #c7c7cc;
    }

.pull-right {
    float: right !important;
}

.bg-info {
    color: navy;
    font-weight: bolder;
    font-size: larger;
}

.table {
    border-color: #e2e2e2;
    width: 100%;
}

    .table tr {
        display: table-row;
        vertical-align: inherit;
        border-color: inherit;
        height: 36px;
    }

.table-striped td {
    border: 0 !important;
}

.table-striped > tbody > tr:nth-child(odd) > td {
    background-color: #f9f9f9;
}

.SheetComment .bordered {
    border: 1px solid #e4e4e4;
}

.SheetComment .panel-body {
    background: #fff;
    margin: 0;
    padding: 20px;
}

.SheetComment .comment {
    margin: 0 -20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.SheetComment .comment-avatar {
    display: block;
    float: left;
    height: 32px;
    margin-top: 5px;
    width: 32px;
    -moz-border-radius: 99999px;
    -webkit-border-radius: 99999px;
    border-radius: 99999px;
}

.SheetComment .comment-line {
    border-bottom: 1px solid #ccc;
}

.SheetComment .comment-by {
    font-style: italic;
    color: #aaa;
    display: block;
}

.SheetComment .comment-text {
    padding: 5px;
}

.SheetComment .comment-actions,
.SheetComment .comment-actions a {
    color: #aaa;
    font-size: 12px;
}

ul[data-row] {
    padding-top: 0;
    padding-bottom: 20px;
    margin-bottom: 0 !important;
}

li[data-field] {
    border-bottom: none !important;
}

input[readonly],
div.Readonly {
    border: none;
}

#ionicForm input:disabled.toggle + label {
    opacity: .5;
}

#ionicForm.ios7 #af_actionsheet a:active {
    background-color: #ccc;
}

.LongWord {
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}

.list li {
    padding: 0 12px 0 12px !important;
}

.orglist li {
    padding: 10px 20px 10px 10px !important;
}

.list .delete {
    text-align: center;
    color: red;
    height: 36px;
    line-height: 36px;
    border-bottom: 0 !important;
}

    .list .delete div {
        border-top: 1px solid #eee;
    }

.list .separator {
    border-bottom: 0 !important;
}

    .list .separator div {
        background-color: #eee;
        height: 10px;
    }

.list .add {
    border-top: 0 !important;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: rgba(82, 155, 234, 255);
}

.list li:first-child {
    border-top: 0 !important;
}

.bizobjectarray {
    width: 100%;
    font-weight: normal;
}

.myexpanded {
    color: #c7c7cc;
    height: 35px;
    right: 0;
    position: relative;
}

.bizobjectarray > ul:after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #ccc;
    position: absolute;
    bottom: 3px;
}

.list[data-row] + .list {
    border-top: 4px solid #eee !important;
}

.selectFromOrg:after {
    color: rgba(217, 217, 217, 255);
    position: absolute;
    right: 8px;
    font-family: chevron;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    content: "\f054";
}

.list > li.user-item {
    clear: both;
    padding: 10px 20px 10px 10px !important;
}
/*鍘嗗彶閬楃暀**************************************************/




#ionicForm .textarea textarea {
    border: none;
    width: 98%;
    margin-top: 5px;
    margin-bottom: 5px;
}


/***********************************/
.inputMouseOut {
    border: none;
}

.inputMouseEnter {
    border: none;
}

#ionicForm label {
    width: initial;
}

.backButton {
    visibility: visible !important;
    display: block !important;
    float: left !important;
    text-align: left !important;
}

ul.list[data-row-id] {
    border-top: 28px solid #efeef3 !important;
}

#ionicForm .panel > .list,
#ionicForm .panel > .afScrollPanel > .list {
    margin: 0 0px 0 0px;
}

.mobile-error {
    border-left: 2px solid red;
    border-right: 5px solid red;
}

a:visited {
    color: #0060a5;
    text-decoration: none;
}

a:link {
    color: #0060a5;
    text-decoration: none;
}

a {
    cursor: pointer;
    color: #4083a9;
    text-decoration: none;
    background: 0;
    background-image: initial;
    background-position-x: 0px;
    background-position-y: center;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}

    a,
    a:hover {
        text-decoration: none;
    }
/***********************************/


.viewHidden {
    display: none;
}

/*action sheet*/
.action-sheet .button {
    font-size: 17px;
}

.platform-android .action-sheet .button {
    text-align: center !important;
    border-color: #d1d3d6 !important;
    color: #007aff !important;
    font-size: 17px !important;
}

.platform-android .action-sheet-title {
    padding: 16px !important;
    color: #8f8f8f !important;
    text-align: center !important;
    font-size: 13px !important;
}
/*confirm*/
.hidden {
    display: none !important;
}

.popup-container.active .popup {
    border-radius: 10px;
    background: #fff;
}

.popup .popup-head {
    display: none;
}

.popup .popup-body {
    color: #2c3038;
    font-size: 16px;
    text-align: center;
}

.popup .popup-buttons {
    border-top: 1px solid #d8d8d8;
    min-height: 56px;
    padding: 5px;
}

    .popup .popup-buttons .button {
        color: #007aff;
        font-size: 17px;
        background: #fff;
    }

        .popup .popup-buttons .button:last-of-type:after {
            display: none;
        }

        .popup .popup-buttons .button:after {
            top: 0;
            bottom: 0;
            right: 0;
            left: initial;
            width: 1px;
            background: #e4e4e4;
        }

.bpm-sheet-alert .popup .popup-body > span {
    display: block;
    color: #fff;
    background: #101010;
    opacity: 0.85;
    font-size: 15px;
    border-radius: 5px;
    padding: 10px;
    text-align: left;
    white-space: normal;
    word-break: break-all;
}

.bpm-sheet-alert .popup .popup-body {
    padding: 0;
    overflow: hidden;
}

.bpm-sheet-ConfirmAction .popup .popup-body {
    padding: 20px 0;
}
.bpm-sheet-ConfirmAction .popup .popup-buttons{
    padding:0px;
    min-height:46px;
}
.bpm-sheet-ConfirmAction .popup .popup-buttons .button{
border-radius:10px;
}
/*娴佺▼鐘舵�佸浘flowDetails*/
.flowDetails .mt {
    height: 10px;
    background: #f3f4f5;
    position: relative;
    margin-top: -1px;
    z-index: 3;
}

.flowDetails .circle-name {
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border-radius: 50%;
    flex-shrink: 0;
}

.user-a {
    background-color: #4DA9EB;
}

.user-b {
    background-color: #01B25E;
}

.user-c {
    background-color: #F19333;
}

.user-d {
    background-color: #F06065;
}

.user-e {
    background-color: #5C7197;
}

.user-f {
    background-color: #9D88BF;
}

.details-header .circle-name {
    margin-right: 13px;
    width: 57px;
    height: 57px;
}

.tooltip .details-header .circle-name {
    width: 42px;
    height: 42px;
}

.flowDetails p {
    margin-bottom: 0;
}

.grey {
    color: #999 !important;
}

.red {
    color: red !important;
}

.orange {
    color: #6abd5f !important;
}

.flowDetails .progress {
    width: 20px;
    height: 20px;
}

.flowDetails .choose {
    width: 20px;
    height: 20px;
}

.flowDetails .unchoose {
    width: 20px;
    height: 20px;
}

.flowDetails .unchoose2 {
    width: 20px;
    height: 20px;
}

.flowDetails .f13 {
    font-size: 13px;
}
.menu-bar-rt .f13{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.flowDetails .f16 {
    font-size: 16px;
}

.flowDetails .f17 {
    font-size: 17px;
}

.flowDetails .mr10 {
    margin-right: 10px;
}

.flowDetails .blue {
    color: #77BCFA !important;
}

.flowDetails .grey {
    color: #999 !important;
}

.menu-bar {
    display: flex;
    height: 44px;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 12px;
    background: #fff;
}

    .menu-bar .menu-bar-left {
        color: #333;
    }

p .menu-bar .menu-bar-right {
    color: #CCCCCC;
    display: flex;
    align-items: center;
}

.details-header {
    height: 91px;
}

    .details-header .menu-bar-left {
        display: flex;
    }

        .details-header .menu-bar-left img {
            width: 57px;
            height: 57px;
            border-radius: 50%;
            margin-right: 13px;
        }

        .details-header .menu-bar-left > .menu-bar-lr {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            color: #333;
        }

.flowDetails .tooltip {
    width: auto;
    box-sizing: border-box;
    position: relative;
    padding: 13px;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 4px 17px rgba(183, 200, 224, 0.5);
}

    .flowDetails .tooltip .angle, .flowDetails .tooltip .anglein {
        display: block;
        width: 0;
        height: 0;
        border: 8px solid transparent;
        position: relative;
        border-right-color: #e7e7e7;
    }

    .flowDetails .tooltip .anglein {
        position: absolute;
        top: -8px;
        left: -7px;
        border-right-color: #fff;
    }

    .flowDetails .tooltip .angle {
        position: absolute;
        top: 11px;
        left: -16px;
    }

    .flowDetails .tooltip .details-header {
        align-items: flex-start;
        height: auto;
        padding: 0;
        justify-content: flex-start;
    }

        .flowDetails .tooltip .details-header .menu-bar-right {
            flex-grow: 1;
        }

            .flowDetails .tooltip .details-header .menu-bar-right .menu-bar-rt {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                /*margin-bottom: 10px;*/
                position: relative;
            }
            .flowDetails .tooltip .details-header .menu-bar-right .menu-bar-rt  .SignatureImg{
                position:absolute;
                max-height:30px;
                max-width:100px;
                right:0;
                bottom:-30px;
            }
			.flowDetails .tooltip .details-header .menu-bar-right .menu-bar-rb {
				padding-top: 10px;
				position: relative;
				overflow:hidden;
			}
                .flowDetails .tooltip .details-header .menu-bar-right .menu-bar-rb .SignatureImg {
                    position: absolute;
                    max-height: 40px;
                    max-width: 120px;
                    top: 10px;
                    right: 0;
                }

.tooltip .details-header .menu-bar-left img {
    width: 42px;
    height: 42px;
}

.pic-bottom {
    border: 1px dashed #cfcfcf;
    border-radius:2px;
    margin-top: 10px;
    padding: 8px;
    text-align: justify;
    line-height: 18px;
    font-size:13px;
    color:#666;
    background:#f8f8f8;
}

.progress-map {
    padding: 0 20px;
    background: #fff;
}

.progress-map-item {
    padding-left: 34px;
    position: relative;
    margin-bottom: 18px;
}

    .progress-map-item .choose, .progress-map-item .unchoose, .progress-map-item .choose, .progress-map-item .unchoose2 {
        position: absolute;
        left: 0;
        top: 0px;
        z-index: 2;
        box-sizing: content-box;
        padding: 10px 0;
        background: #fff;
    }

    .progress-map-item:after {
        content: '';
        position: absolute;
        left: 10px;
        height: 100%;
        width: 1px;
        background: #CAC9C9;
        top: 40px;
    }

    .progress-map-item:last-of-type:after {
        display: none;
    }

.progress-picture .menu-bar {
    height: 44px;
}

.progress-picture .menu-bar-left {
    display: flex;
    align-items: center;
}
/*瀹℃壒绛剧珷*/
.LatestCommentPanel > .input-label, .SignaturePanel .input-label {
    color: #2c3038 !important;
}

.SignaturePanel .input-label {
    padding-top: 0;
    padding-bottom: 0;
}

.SignaturePanel > .input-label {
    padding-top: 7px;
    padding-bottom: 7px;
}

.SignaturePanel .detail img {
    max-width: 100px;
    max-height: 34px;
    vertical-align: top;
}

.InputPanel .IPtitle {
    font-size: 16px;
    line-height: 30px;
    white-space: normal;
}

.InputPanel .CommentInput {
    color: #797f89;
    font-size: 16px;
    width: 100%;
}
/*璋冩暣鍚戝彸绠ご澶у皬*/
#ionicForm .item .icon.ion-ios-arrow-right {
    font-size: 20px;
}
/*绛剧珷寮瑰嚭椤�*/
.MvcPopover.signature .radio-content .item-content {
    display: flex;
    align-items: center;
    color: #203c38;
}

.MvcPopover.signature .radio-content .item-content span {
    display: block;
    width: 100px;
    overflow: hidden;
    text-overflow: inherit;
    white-space: initial;
}

    .MvcPopover.signature .radio-content .item-content img {
        max-width: 150px;
        max-height: 100px;
        margin-left: 10px;
    }



/*閫変汉鎺т欢*/

/*  鎼滅储鏍峰紡 */
.placeholder-icon-unfocus {
    padding-left: 40% !important;
    color: #aaa;
}

    .placeholder-icon-unfocus + input {
        padding-left: 4px !important;
    }

.placeholder-icon-focus {
    padding-left: 1px !important;
    color: #aaa;
}

.ion-ios-search-strong:before {
    padding-left: 4px;
}
/*閫変汉绌洪棿鐨勫悜鍙冲浘鏍�*/
.sheetUser .item i.ion-ios-arrow-right {
    font-size: 15px;
}
/*閫変汉鎺т欢鎼滅储妗�*/

.sheetUserSearch {
    height: 68px;
    background-image: none;
}

    .sheetUserSearch .item-input-wrapper {
        height: 35px;
        border: 1px solid #cccccc;
        background-color: #ffffff;
    }

.sheetUser {
    top: 100px !important;
}

    .sheetUser .item {
        /*border-bottom-width: 1px;*/
        padding: 16px;
        color: #203c38;
    }

    .sheetUser .item-divider a {
        text-decoration: none;
    }


    .sheetUser .item-divider {
        background-color: #ffffff;
        padding: 8px 12px !important;
    }

/*缁勭粐鏋舵瀯*/
.breadcrumb {
    display: inline;
    line-height: 30px;
    font-size: 13px;
    word-break: break-all;
}

    .breadcrumb:before {
        margin-right: 5px;
        content: '>';
           color: #8b939f;
    }

    .breadcrumb:first-child:before {
        margin-right: 0px;
        content: '';
    }

    .breadcrumb a {
        text-decoration: none;
        color: #3c8cea;
    }

    .breadcrumb span {
           color: #8b939f;
    }

.sheetUser .bpm-userselectitems {
    border-top: 1px solid #e0e0e0 !important;
    margin-bottom: 1px;
}

/*閫夋嫨鎵撻挬*/
.sheetUser .checkbox input:checked + .checkbox-icon:before, .sheetUser .checkbox input:checked:before {
    background: #77BCFA;
    border-color: #77BCFA;
}
/*鐢ㄦ埛榛樿澶村儚*/
.item-checkbox .item-content .user-name {
    display: inline-block;
    height: 34px;
    width: 34px;
    border-radius: 51%;
}

.item-checkbox .item-content .userSelected {
    border: none;
    color: #ffffff;
}

.item-checkbox .item-content .user-name span {
    font-size: 12px;
    line-height: 33px;
    text-align: center;
    width: 35px;
    display: inline-block;
}

.userSelected {
    border: 1px solid #77bcfa;
    color: #77bcfa;
}
/* 閫変腑*/
.bpm-userselectitems {
    padding: 4px !important;
}

    .bpm-userselectitems .breadcrumb-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        display: flex;
        padding-top: 5px;
    }

    .bpm-userselectitems .bpm-breadcrumb {
        display: inline;
        line-height: 30px;
        font-size: 13px;
        word-break: break-all;
    }
    /*閫変汉*/
    .bpm-userselectitems li.bpm-useritem:first-child {
        margin-left: 5px;
    }

    .bpm-userselectitems .bpm-useritem {
    	/*update by ouyangsk 璋冩暣绉诲姩绔椤电瓫閫夐�変汉鎺т欢鏍峰紡锛屼笌琛ㄥ崟涓帶浠朵竴鑷�*/
        /*margin-right: 6px;*/
        margin-right: 10px;
        margin-bottom: 10px;
    }

        .bpm-userselectitems .bpm-useritem .user-name {
            display: inline-block;
            height: 34px;
            width: 34px;
            border-radius: 60%;
            position: relative;
        }

            .bpm-userselectitems .bpm-useritem .user-name span:first-child {
                line-height: 34px;
                text-align: center;
                width: 34px;
                display: inline-block;
            }

.userSelected {
    border: 1px solid #77bcfa;
    color: #77bcfa;
}
/*閫夐儴闂�*/

.bpm-userselectitems .bpm-orgitem {
    margin-right: -12px;
}

    .bpm-userselectitems .bpm-orgitem .user-name {
        display: inline-block;
        height: 40px;
        width: 40px;
        border-radius: 60%;
        position: relative;
    }

    .bpm-userselectitems .bpm-orgitem span:first-child {
        padding: 7px;
        margin-left: 6px;
        margin-right: 6px;
        line-height: 40px;
    }

.depSelected {
    background-color: #e9f3fe;
    color: #77bcfa;
}
/* 鐐瑰弶*/
.del-list {
    display: inline-block;
    height: 13px;
    width: 13px;
    border-radius: 51%;
    background-color: #d8d6d6;
    position: relative;
    top: -13px;
    right: 18px;
    line-height: 13px;
    text-align: center;
    color: #ffffff;
}
/*閮ㄩ棬 鐐瑰弶*/
.bpm-userselectitems .bpm-orgitem .del-list {
    position: relative;
    top: -15px;
    right: 22px;
    color: #ffffff;
}

.disable-user-behavior .list label.item-checkbox {
    margin: 10px 10px 10px 2px;
}
/*鎼滅储妗嗕腑鐨勬墦鍙�*/
.sheetUserSearch .del-list {
    position: relative;
    top: 0px;
    right: 0px;
    color: #ffffff;
}

.placeholder-icon-unfocus .del-list {
    display: none;
}

.placeholder-icon-focus .del-list {
    display: block;
}
/*鍘绘帀杈圭紭绾�*/
.view-container .pane {
    box-shadow: none !important;
}
.view-container .pane .nav-bar-container{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
}
.sheetUser .scroll-view.scroll-x {
    overflow-x: hidden;
    overflow-y: hidden;
}

.depNum {
    width: 5%;
    float: right;
    color: #8b939f;
    font-size: 14px;
}

.userSearched {
    color: #77bcfa;
}
/*鎼滅储鐨勪汉鍛樺悕瀛楅儴闂ㄩ噸鏂板竷灞�*/
.sheetUser .searchConten .list .item-content {
    display: flex;
    flex-direction: row;
}

.groupRight {
    margin-bottom: 0px;
    line-height: 17px;
    margin-left: 10px;
    flex-grow: 1;
}

    .groupRight p {
        color: #8b9397;
        font-size: 12px;
    }

.sheetUser .item-checkbox .checkbox {
    position: absolute;
    top: 50%;
    right: 8px;
    left: 8px;
    z-index: 3;
    margin-top: -21px;
    display: none;
}

.sheetUser .usercheckbox {
    display: inline-block;
    height: 19px;
    width: 19px;
    border-radius: 51%;
    background: #FFFFFF;
    border: 1px solid #BDBCBC;
    vertical-align: middle;
}

.sheetUser .usercheckboxed {
    display: inline-block;
    height: 19px;
    width: 19px;
    border-radius: 51%;
    background: #3C8CEA;
    border: none;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    font-size: 11px;
    line-height: 21px;
}
/*鐧诲綍鎻愮ず*/
.loading-container .loading {
    padding: 0px;
}

.loading span.lodingspan {
    width: 113px !important;
    height: 88px;
    opacity: 0.85;
    background: #101010;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 15px;
}

    .loading span.lodingspan .spinner svg {
        width: 32px;
        height: 32px;
        font-size: 15px;
    }

    .loading span.lodingspan span {
        display: inline-block;
        color: #FFFFFF;
    }

.setcommon {
    background-color: #101010;
    width: 197px;
    opacity: 0.85;
    display: block;
    height: 47px;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 0.57px;
    line-height: 47px;
}

/*琛ㄥ崟閫変汉鎺т欢鏍峰紡*/
/*搴曢儴鎸夐挳*/
.bar-footer {
    padding: 0px;
}

    .bar-footer .bottom-button {
        display: flex;
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 100000;
        height: 100%;
        font-size: 17px;
    }

.pablicflex {
    box-sizing: border-box;
    border-top: 1px solid #E0E0E0;
    font-size: 100%;
    color: #77BCFA;
    letter-spacing: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar-footer .bb-left {
    flex-basis: 50%;
    background: #fff;
    justify-content: flex-start;
}

.bar-footer .bb-right {
    flex-basis: 40%;
    color: #fff;
    background: #3C8CEA;
}

.bar-footer .all-right {
    flex-basis: 100%;
    background: #77BCFA;
    color: #fff;
    background: #3C8CEA;
}

.bar-footer .bb-center {
    flex-basis: 10%;
    box-sizing: border-box;
    padding-left: 0.32rem;
    background: #fff;
    color: #333;
    border-top: 1px solid #E0E0E0;
    display: flex;
    align-items: center;
}

.bb-center .usercheckboxed {
    display: inline-block;
    height: 19px;
    width: 19px;
    border-radius: 51%;
    background: #3C8CEA;
    border: none;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    font-size: 11px;
    line-height: 21px;
}

.bar-footer .usercheckbox {
    display: inline-block;
    height: 19px;
    width: 19px;
    border-radius: 51%;
    background: #FFFFFF;
    border: 1px solid #BDBCBC;
    margin: 0;
}
/*閮ㄩ棬缁勭粐缁撴瀯*/
.projectlist {
    height: 48px;
    width: 100%;
    padding: 16px 12px 16px 20px;
    background: #fff;
    /*border-bottom: 1px solid #E0E0E0;*/
    display: flex;
    box-sizing: border-box;
}

.line-bottoms {
    display: block;
    height: 3px;
    border-bottom: 1px solid #E4E4E4;
}

.projectlist .itemleft {
}

    .projectlist .itemleft img {
        height: 18px;
        width: 21px;
    }

.projectlist .itemcenter {
    padding-left: 25px;
    flex-grow: 1;
    font-size: 16px;
    color: #2C3038;
    letter-spacing: 0;
}

.projectlist .itemright {
    font-size: 20px;
}
/*鐢ㄦ埛甯冨眬*/
.userlist, .unselectlist, .canselectlist {
    height: 59px;
    width: 100%;
    padding: 12px 12px 12px 17px !important;
    background: #fff;
    border-bottom: 1px solid #E0E0E0;
    display: flex;
    box-sizing: border-box;
    font-size: 16px;
    color: #2C3038;
    border-bottom: 1px solid #E0E0E0 !important;
}

    .canselectlist .item-content {
        width: 100%;
        line-height: 26px;
    }
   .canselectlist .item-content label.item-label {
            font-size: 13px;
        }
        .canselectlist .item-content .depNum {
            width: 14%;
            line-height:16px;
            position:relative;
        }

     .unselectlist .dep-Num, .ion-ios-arrow-right {
        color: #8b939f;
    }
/*鎻愮ず鏍�*/
.vertical-border {
    /*position: relative;*/
    padding: 10px 0 10px 12px;
    margin-top: 20px;
    height: 35px;
    width: 100%;
    background: #ECF5FD;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: start;
    opacity: initial;
}

.vertical-line {
    width: 3px;
    height: 15px;
    background: #3C8CEA;
    /*position: absolute;*/
    /* right: 0; */
    top: 29%;
}

.vertical-title {
    color: #999;
    letter-spacing: -0.62px;
    margin-left: 4px;
}
/*涓嶈兘閫夋嫨鐨�*/
.unselectlist {
    line-height: 31px;
}

    .unselectlist .itemleft {
    }

  .unselectlist .itemcenter {
        flex-grow: 0;
        font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 90%;
    }

    .unselectlist .itemright {
        font-size: 16px;
    }
/*琛ㄥ崟鏃堕棿绌洪棿*/
.ion-datetime-picker-popup {
    white-space: nowrap;
}

    .ion-datetime-picker-popup .popup {
        width: min-content;
        /*update bu ouyangsk 璁剧疆鏈�灏忓搴︼紝闃叉绉诲姩绔嫳鏂囩姸鎬佷笅鏃堕棿鎺т欢鏄剧ず涓嶅叏鐨勯棶棰�*/
        min-width: 300px;
    }

        .ion-datetime-picker-popup .popup .popup-buttons {
            border-top: 1px solid #d8d8d8;
            padding: 0;
            min-height: 45px;
        }

.ion-datetime-picker .calendar .day, .ion-datetime-picker .calendar .weekday {
    padding: 5px !important;
}

.ion-datetime-picker-popup .popup .popup-buttons .button {
    background-color: transparent;
    color: #757575;
}
    /*鍙栨秷鎸夐挳*/
    .ion-datetime-picker-popup .popup .popup-buttons .button:after {
        background-color: transparent;
    }
    /*纭畾鎸夐挳*/
    .ion-datetime-picker-popup .popup .popup-buttons .button:last-child {
        border-color: transparent;
        background-color: #77BCFA;
        color: #fff;
        border-radius: initial;
    }

.ion-datetime-picker .calendar .day.selected, .ion-datetime-picker .calendar .day.selected:hover, .ion-datetime-picker .calendar .day.selected.activated {
    color: white;
    background: #77BCFA !important;
    border-radius: 3px;
}

.ion-datetime-picker .month-year .item-input {
    border: 1px solid #999999;
}

.ion-datetime-picker .month-input {
    max-width: 35%;
    flex: 1;
}

.ion-datetime-picker .calendar .weekday {
    color: #77BCFA;
}
/* popover 搴曡壊鍙樻垚鐧借壊*/
.popover .scroll-content, .platform-android .popover label.item-radio, .platform-android .popover .item, .platform-android .popover {
    background-color: white;
}
.modal-wrapper .popover .scroll-content{
    margin:0px;
}
.popover .list:last-child {
}
/* popover 鎼滅储鏃犳暟鎹彁绀�*/
.overSearch {
    color: blue;
    max-width: 20%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* popover 鎼滅储鍥炬爣灞呬腑*/
.modal-wrapper .icon-search  {
    padding-right: 0px;
    font-size: 14px;
    line-height: 29px;
    padding-top: 1px;
}
.file-up {
}
#myUpfile{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
}
.item {
    border-bottom: 0;
    padding: 6px;
}

.item-checkbox {
    padding-left: 60px;
}

.list {
    margin-bottom: 0;
}
.theme-default{
    background: #f1f1f1;
}