img {
    border-width: 0;
}

.ui-icon-back {
    margin-top: 5px;
}

.divContent {
    width: 96%;
    margin: 0 auto;
}

.tableStyle {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
    border: 0 solid #A5A5A8;
    border-bottom: 0 solid #A5A5A8;
    margin: 0 auto;
}

.tableStyle td {
    height: 30px;
    padding: 3px;
}

.tableStyle th {
    height: 30px;
    text-align: center;
}

.SheetGridView {
    width: 100%;
}

.SheetGridView .rows td {
    padding-left: 3px;
    padding-right: 3px;
}

.SheetGridView .rowSerialNo {
    width: 45px;
}

.SheetGridView .rowOption {
    width: 55px;
}

.SheetGridView td {
    padding-top: 3px;
    padding-bottom: 3px;
}

.SheetGridView .rowOption .insert {
    padding-left: 8px;
}

.SheetGridView table td {
    border: 1px solid #C7C7C7;
}

.SheetGridView table th {
    border: 1px solid #C7C7C7;
}

.SheetGridView input[type=text], .SheetGridView select, .SheetGridView .SheetAttachment {
    padding-left: 3px;
    min-height: 28px;
    width: 99%;
}

.SheetGridView .header {
    text-align: center;
    height: 28px;
    background-color: #F7F7F7;
}

.SheetGridView .footer {
    text-align: right;
    height: 28px;
}

.SheetGridView .footer td {
    padding-right: 3px;
}

.SheetGridView .rowOption {
    min-width: 38px;
    text-align: center;
}

.SheetGridView .rowOption {
    min-width: 38px;
    text-align: center;
}

.UserSelector td {
    border: 0 !important;
}

.tdTitle {
    min-height: 30px;
    width: 12%;
}

.bannerTitle {
    color: #494949;
    font-weight: bold;
    font-size: 13px;
}

.hrSplit {
    margin-top: 3px;
    margin-bottom: 8px;
    border-width: 2px;
    border-color: #9B9690;
}

input:disabled {
    background-color: #FFF;
    border-width: 0;
}

a[disabled='disabled'] {
    color: #d6d6d6;
}

a[disabled='disabled'] span {
    color: #d6d6d6;
}

.panel-title {
    font-size: 28px;
}

.toolBar {
    background-color: #FFF;
}

.toolImage {
    color: dodgerblue;
    font-size: 14px;
}

.toolText {
    color: dodgerblue;
}

.divButton {
    margin: 2px;
    padding: 2px;
    border: 1px solid transparent;
    _border-color: tomato;
    _filter: chroma(color=tomato);
    border-right: 1px dotted #ccc;
}

A:link {
    color: #0060a5;
    text-decoration: none;
}

A:visited {
    color: #0060a5;
    text-decoration: none;
}

A:active {
    color: #0060a5;
    text-decoration: none;
}

A:hover {
    color: #666;
    text-decoration: none;
}

.inputMouseOut {
    border: 1px solid #DCDCDC;
    border-radius: 2px;
}

.inputMouseOut span {
    border: 0;
}

.inputMouseOut table {
    border: 0;
}

.inputMouseMove {
    border: 1px solid #0E30AF;
    box-shadow: 0 0 3px #3952B2;
    border-radius: 2px;
}

.inputMouseEnter {
    border: 1px solid #4d90fe;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(77, 144, 254, .6);
    border-radius: 2px;
}

.inputRequired {
    border: 1px solid #F00;
}

.inputError {
    border: 1px dashed #F00;
}

.InvalidText {
    color: #F00;
}

textarea {
    height: 80px;
    overflow: visible;
    word-break: break-all;
}

.Readonly {
    border: 0 solid;
}

.error {
    font-size: 12px;
    color: #F00;
}

.tableRadion {
    border-width: 0;
}

.tableRadion tbody tr td {
    border-width: 0;
}

.tdData {
    width: 38%;
    font-size: 13px;
    padding-left: 5px;
}

.tdData input[type=text] {
    padding-left: 3px;
    height: 28px;
}

.tdData select {
    height: 28px;
}

.tdData textarea {
    padding-left: 3px;
}

.tdComment input[type=text] {
    height: 13px;
}

.processTitle {
    text-align: center;
    width: 100%;
    font-size: 26px;
    font-weight: bold;
}

.controlEditableClass {
    border: expression((this.type=="text")?"solid 1px #C2C2C2":"");
    background-color: #ff0fe0;
}

.controlRequiredClass {
    border: expression((this.type=="text")?"solid 1px #C2C2C2":"");
    background-color: #ffffe0;
}

.controlInvalidClass {
    border: expression((this.type=="text")?"solid 1px #C2C2C2":"");
    background-color: #ffffe0;
}

.MobileStyle {
    width: 100%;
    border-collapse: collapse;
    font-size: 15px;
    border: none;
    background-image: url(../../Mobile/images/bg_body.png);
    font-family: "微软雅黑", "宋体";
}

.MobileStyle_td {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px #ccc solid;
    padding: 5px 0 5px 5px;
}

.NormalStyle {
    height: inherit;
}

.panel {
    box-shadow: 0 0 15px #070E45
}
