.header {
    position: absolute;
    right: 5px;
    z-index: 100;
    height: 18px;
    padding: 4px;
}

.List_ulCss {
    position: absolute;
    min-height: 20px;
    max-height: 500px;
    min-width: 100px;
    background-color: #fff;
    border: 1px solid #ddd;
    overflow-y: auto;
    display: none;
}

    .List_ulCss li {
        cursor: pointer;
        height: 20px;
        line-height: 20px;
        padding: 5px;
        white-space: nowrap;
    }

.hoveli {
    background-color: #efefef;
}

#GetMoreTab {
    width: 20px;
    height: 20px;
    float: left;
    line-height: 20px;
    cursor: pointer;
}

.imgCss {
    width: 20px;
    height: 20px;
    cursor: pointer;
    float: left;
}

.l-bar-separator {
    margin: 0px;
    margin-left: 2px;
    height: 20px;
}

.divUserPanel {
    width: 280px;
    height: 180px;
    position: absolute;
    right: 6px;
    top: 20px;
    z-index: 10000;
    display: none;
}

    .divUserPanel .topP {
        text-align: right;
    }

.divUserPanel_Warp {
    border: 2px solid black;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    z-index: 10005;
    position: absolute;
    top: 7px;
    width: 100%;
    height: 153px;
    background-color: white;
}

    .divUserPanel_Warp .divFace {
        width: 100px;
        height: 120px;
        border: 3px solid #ccc;
        float: left;
        margin-left: 8px;
        margin-right: 7px;
        margin-top: 12px;
    }

    .divUserPanel_Warp .divDetail {
        width: 135px;
        height: 100%;
        float: right;
        margin-right: 10px;
    }

        .divUserPanel_Warp .divDetail strong {
            display: block;
            margin: 0px;
            padding: 0px;
            height: 40px;
            line-height: 40px;
            font-size: 15px;
        }

        .divUserPanel_Warp .divDetail p {
            display: block;
            margin: 0px;
            padding: 0px;
            width: 100%;
            height: 22px;
            line-height: 22px;
            border-bottom: 1px solid #ddd;
        }
