<div class="iconset clearfix">
    <div class="col-120" ng-repeat="item in fileNavigator.fileList | filter: query | orderBy: orderProp" ng-show="!fileNavigator.requesting">
        <div class="thumbnail text-center"title="{{item.model.name}} ({{item.model.sizeKb()}}kb)">
            <div class="item-icon">
                <a class="glyphicon glyphicon-folder-open"  ng-show="item.model.type === 'dir'"ng-click="smartClick(item,$event)"></a>
                <a class="glyphicon glyphicon-file"  ng-show="item.model.type === 'file'"ng-click="smartClick(item,$event)"></a>
            </div>
            <a class="thumbnail text-center"ng-click="smartClick(item,$event)"ng-right-click="touch(item)">{{item.model.name | strLimit : 11 }}</a>
        </div>
    </div>

    <div ng-show="fileNavigator.requesting">
        <div ng-include="config.tplPath + '/spinner.html'"></div>
    </div>

    <div class="alert alert-warning" ng-show="!fileNavigator.requesting && fileNavigator.fileList.length < 1 && !fileNavigator.error">
        {{"文件夹中没有文件" | translate}}...
    </div>
    
    <div class="alert alert-danger" ng-show="!fileNavigator.requesting && fileNavigator.error">
        {{ fileNavigator.error }}
    </div>
</div>