<table class="table mb0 table-files">
    <thead>
        <tr>
            <th colspan="3">
                <a href="" ng-click="order('model.name')">
                    名称
                    <span class="sortorder" ng-show="predicate[1] === 'model.name'" ng-class="{reverse:reverse}"></span>
                </a>
            </th>
            <th class="hidden-sm hidden-xs" ng-show="fileNavigator.position">
                <a href="" ng-click="order('model.dir')">
                    位置
                    <span class="sortorder" ng-show="predicate[1] === 'model.dir'" ng-class="{reverse:reverse}"></span>
                </a>
            </th>
            <th class="hidden-sm hidden-xs">
                <a href="" ng-click="order('model.size')">
                    大小
                    <span class="sortorder" ng-show="predicate[1] === 'model.size'" ng-class="{reverse:reverse}"></span>
                </a>
            </th>
            <th class=" hidden-xs">
                <a href="" ng-click="order('model.date')">
                    创建日期
                    <span class="sortorder" ng-show="predicate[1] === 'model.date'" ng-class="{reverse:reverse}"></span>
                </a>
            </th>
            <!--<th class="hidden-sm hidden-xs">
                <a href="" ng-click="order('model.permissions')">
                    {{"permissions" | translate}}
                    <span class="sortorder" ng-show="predicate[1] === 'model.permissions'" ng-class="{reverse:reverse}"></span>
                </a>
            </th>-->
            <th class="text-right "></th>
        </tr>
    </thead>
    <tbody class="file-item" ng-show=fileNavigator.isShowFolder>
        <tr ng-show="fileNavigator.requesting">
            <td colspan="5">
                <div ng-include="config.tplPath + '/spinner.html'"></div>
            </td>
        </tr>
        <tr ng-show="!fileNavigator.requesting && fileNavigator.fileList.length < 1 && !fileNavigator.error">
            <td colspan="5">
                {{"文件夹中没有文件" | translate}}...
            </td>
        </tr>
        <tr ng-show="!fileNavigator.requesting && fileNavigator.error">
            <td colspan="5">
                {{ fileNavigator.error }}
            </td>
        </tr>
        <tr ng-repeat="item in fileNavigator.fileList | filter: {model:{name: query}} | orderBy:predicate:reverse" ng-show="!fileNavigator.requesting">
            <td ng-right-click="touch(item)" colspan="3">
                <div title="{{item.model.name}} "> 
                    <a class="glyphicon glyphicon-folder-close" ng-show="item.model.type === 'dir'"ng-click="smartClick(item,$event)"></a>
                    <a class="glyphicon glyphicon-file" ng-show="item.model.type === 'file'"ng-click="smartClick(item,$event)"></a>
                    <a ng-click="smartClick(item,$event)">{{item.model.name | strLimit : 64}}</a>
                </div>
            </td>
            <!-- 路径位置 -->
            <td class="hidden-xs" title="{{item.model.dir}}" ng-show="fileNavigator.position">
                {{item.model.dir}}
            </td>
            <td class="hidden-sm hidden-xs " title="{{item.model.sizeKb()}}KB">
                <span ng-show="item.model.type === 'file'">{{item.model.sizeKb()}}KB</span>
                <span ng-show="item.model.type === 'dir'"></span>
               <!-- {{item.model.sizeKb()}}kB -->
            </td>
            <td class="hidden-xs" title="{{item.model.date | formatDate}}">
                {{item.model.date | formatDate}}
            </td>
           <!-- <td class="hidden-sm hidden-xs">
                {{item.model.perms.toCode(item.model.type === 'dir'?'d':'-')}}
            </td>-->
            <td class="text-right " nowrap>
                <div ng-include="config.tplPath + '/item-toolbar.html'"></div>
            </td>
        </tr>
    </tbody>



    <tbody class="file-item" ng-show=fileNavigator.isShowMyFolder>
        <tr ng-show="fileNavigator.requesting">
            <td colspan="5">
                <div ng-include="config.tplPath + '/spinner.html'"></div>
            </td>
        </tr>
        <tr ng-show="!fileNavigator.requesting && fileNavigator.myFolderFileList.length < 1 && !fileNavigator.error">
            <td colspan="5">
                {{"文件夹中没有文件" | translate}}...
            </td>
        </tr>
        <tr ng-show="!fileNavigator.requesting && fileNavigator.error">
            <td colspan="5">
                {{ fileNavigator.error }}
            </td>
        </tr>
        <tr ng-repeat="item in fileNavigator.myFolderFileList | filter: {model:{name: query}} | orderBy:predicate:reverse" ng-show="!fileNavigator.requesting">
            <td ng-right-click="touch(item)" colspan="3">
                <a href="" ng-click="smartClick(item)" title="{{item.model.name}} ">
                    <i class="glyphicon glyphicon-folder-close" ng-show="item.model.type === 'dir'"></i>
                    <i class="glyphicon glyphicon-file" ng-show="item.model.type === 'file'"></i>
                    {{item.model.name | strLimit : 32}}
                </a>
            </td>
            <td class="hidden-sm hidden-xs " title="{{item.model.sizeKb()}}KB">
                <span ng-show="item.model.type === 'file'">{{item.model.sizeKb()}}KB</span>
                <span ng-show="item.model.type === 'dir'"></span>
                <!-- {{item.model.sizeKb()}}kB-->
            </td>
            <td class="hidden-xs" title="{{item.model.date | formatDate}}">
                {{item.model.date | formatDate}}
            </td>
            <!-- <td class="hidden-sm hidden-xs">
                 {{item.model.perms.toCode(item.model.type === 'dir'?'d':'-')}}
             </td>-->
            <td class="text-right " nowrap>
                <div ng-include="config.tplPath + '/item-toolbar.html'"></div>
            </td>
        </tr>
    </tbody>


</table>