<!--<nav class="navbar navbar-inverse navbar-fixed-top">-->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!--<div class="navbar-header">-->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand hidden-xs" href="" ng-click="fileNavigator.goTo(-1)">{{config.appName}}</a> -->
      <!-- <a class="navbar-brand hidden-xs" href="" ng-click="fileNavigator.goTo(-1)">{{config.appName}}</a> -->
      <div class="navbar-form navbar-left">
        <input type="text" class="form-control " id="allSearch" ng-keyup="searchKeyUp($event)"><!--  ng-model="$parent.query" -->
        <input type="button" value="搜索" class="form-control" ng-click="search('allSearch');">
      </div>
      
    <!--</div>-->
    <div id="navbar" class="navbar-collapse collapse">
      <div class="navbar-form navbar-right">
        <!-- <input type="text" class="form-control " placeholder="搜索..." ng-model="$parent.query"> -->
        <!--<button class="btn btn-default btn-sm" data-toggle="modal" data-target="#newfolder" ng-click="touch()">-->
            <!--<i class="glyphicon glyphicon-plus"></i> 新建文件夹-->
        <!--</button>-->
        <button class="btn btn-default btn-sm">
          <i class="glyphicon glyphicon-plus" ng-click="newFolder()"><span style="margin-left: 5px;">新建文件夹</span></i>
        </button>

        <!--<button class="btn btn-default btn-sm" data-toggle="modal" data-target="#uploadfile" ng-show="config.allowedActions.upload" ng-click="touch();clearUploadFileList()">-->
            <!--<i class="glyphicon glyphicon-upload"></i> 上传文件-->
        <!--</button>-->
        <button class="btn btn-default btn-sm">
          <i class="glyphicon glyphicon-upload" ng-click="uploadFile()"><span style="margin-left: 5px;">上传文件</span></i>
        </button>

          <!--<button id="infoshow" class="btn btn-default btn-sm " data-toggle="modal" data-target="#url-qrcode" ng-show="config.allowedActions.qrcode" ng-click="touch();genQRcode();">
              <i class="glyphicon glyphicon-info-sign "></i> {{"qrcode" | translate}}
          </button>-->


        <!--<button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropDownMenuLang" data-toggle="dropdown" aria-expanded="true">
            <i class="glyphicon glyphicon-globe"></i> {{"language" | translate}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropDownMenuLang">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="changeLanguage('cn')">{{"chinese" | translate}}</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="changeLanguage('en')">{{"english" | translate}}</a></li>
        </ul>-->


        <button class="btn btn-default btn-sm" ng-click="$parent.setTemplate('main-icons.html')" ng-show="$parent.viewTemplate !== 'main-icons.html'" title="{{'icons' | translate}}">
            <i class="glyphicon glyphicon-th-large"></i>
        </button>
        <button class="btn btn-default btn-sm" ng-click="$parent.setTemplate('main-table.html')" ng-show="$parent.viewTemplate !== 'main-table.html'" title="{{'list' | translate}}">
            <i class="glyphicon glyphicon-th-list"></i>
        </button>

      </div>
    </div>
  </div></nav>

