<div ng-controller="workCalendarCtrl" class="table mb0 table-files">
	<div class="container-fluid">

		<section id="directives-calendar">

			<div class="col" style="display:inline-block;float:right;margin-top:14px">
				<div style="width: 40px;height:20px;background-color: #3a87ad;border-radius: 80px;
					display:inline-block;text-align:center;color:white;" class="newval4"></div>
				<div style="display: inline-block;">待阅&nbsp&nbsp;</div>
				<div style="width: 40px;height:20px;background-color: rgb(164,0,0);border-radius: 80px;
					display:inline-block;text-align:center;color:white;" class="newval"></div>
				<div style="display: inline-block;">待办&nbsp&nbsp;</div>

				<div style="width: 40px;height:20px;background-color: rgb(81,184,13);border-radius: 80px;
				display:inline-block;text-align:center;color:white;" class="newval1"></div>
				<div style="display: inline-block;">已办&nbsp&nbsp</div>

				<div style="width: 40px;height:20px;background-color: rgb(109,109,192,0.2);border-radius: 80px;
				display:inline-block;text-align:center;color:black;" class="newval2"></div>
				<div style="display: inline-block;">逾期</div>
			</div>
			<div class="calendar" ng-model="eventSources" calendar="myCalendar" ui-calendar="uiConfig.calendar" id="calendarview"></div>
			</div>

		</section>
	</div>

</div>
<div class= "announcement"style="width:97.8%;font-size:25px;border:solid 1px #e2e2e2;
margin-left:16px;margin-top:16px;">
<div class= "announcement"style="width:100%;height:25%;font-size:25px;border:solid 1px #e2e2e2;border-top:none;
border-left:none;border-right:none;">&nbsp&nbsp公告</br></div>
<div style="height:240px;overflow:scroll;overflow-x: hidden;">
<ul class="anouncement-left"style="margin-top:20px;height:22px;font-size:14px;list-style: none;"
ng-repeat="x in announcement">	

<li class="anounce-company"style="width:220px;height:22px;font-size:14px;height:22px;display:inline-flex;vertical-align:bottom;"title="{{x.orgName}}-{{x.typeStr}} " >
&nbsp&nbsp&nbsp&nbsp
   <div style="display:inline-flex;height:22px;"> [
	        <span class="anounce-pcompany"style="max-width:200px;overflow:hidden;text-overflow:ellipsis;cursor:default;
	                   white-space:nowrap;display:block ">{{x.orgName}}<label ng-if="x.orgName != ''">-</label>{{x.typeStr}} </span> ]
 </div> 
</li>
	<li class="anounce-date"style="width:17%;font-size:14px;height:22px;display:inline-block;vertical-align:bottom; " >
		&nbsp&nbsp&nbsp&nbsp{{x.createTime|date:'yyyy-MM-dd HH:mm:ss'}}
  </li>
	<li class="anounce-title"style="width:45%;font-size:14px;display:inline-block;height:22px;text-align:left;vertical-align:bottom;
	overflow: hidden;text-overflow: ellipsis;white-space: nowrap;cursor:default" 
	title="{{x.title}}" >
		{{x.title}}
	</li>
	<li class="anounce-des"id="anounce-des" ng-if="x.link"
	style="width:10%;font-size:14px;height:22px;display:inline-block;float:right;margin-right:10px;vertical-align:bottom;cursor:pointer " 
	ng-click="desc($index)">查看详情
	</li>


</ul>
</div>
</div>