.formula-editor{height:228px;border:1px solid gray;position:absolute;padding:5px 5px 5px 5px;border-width:1px 1px 1px 1px;border-style:solid;border-color:silver;overflow:auto;outline:none;}.formula-editor div{width:auto;border:none;}.formula-editor [ExecutionType=input]{color:#a01214;}.formula-editor [ExecutionType=function],.formula-editor [ExecutionType=varible],.formula-editor [ExecutionType=const]{color:#0001F4;}.formula-editor [ExecutionType=user]{color:blue;border-bottom:1px solid;}.formula-editor a{width:100%;font-size:16px;font-style:italic;font-family:Arial;}.div-helper{border-width:1px 1px 1px 1px;border-style:solid;border-color:silver;height:138px;overflow:auto;position:absolute;bottom:0;left:0;font-size:12px;}.div-helper td:first-child{font-weight:bold;}.helper-parameters{word-break:break-all;}.div-intelligent-container{background-color:#F6F6F6;cursor:pointer;display:none;width:220px;height:auto;max-height:400px;overflow:auto;z-index:1;position:absolute;}.div-intelligent>table{width:100%;}.div-intelligent-container ul{width:100%;margin:0;}.div-intelligent-container li{width:100%;font-size:14px;}li.item-function-math{list-style-image:url(../image/formula/mf.png);}li.item-function-participant{list-style-image:url(../image/formula/pf.png);}li.item-const{list-style-image:url(../image/formula/const.png);}li.item-global-variable{list-style-image:url(../image/formula/gv.png);}li.item-instance{list-style-image:url(../image/formula/iv.png);}li.item-dataitem{list-style-image:url(../image/formula/di.png);}div.item-description{position:absolute;background-color:#E7E8ED;width:auto;height:auto;min-width:90px;line-height:22px;font-size:14px;}div.arg-description{position:absolute;background-color:#E7E8ED;width:auto;height:auto;}.formula-select-user{width:16px;height:16px;}.intelligent-li-selected{background-color:#3399FB;color:white;}.formula-display{min-height:24px;border:1px solid #a8a8a8;min-width:200px;width:auto;}table.function-description{width:100%;font-size:12px;border:1px solid silver;}table.function-description>tbody>tr:hover{background-color:silver;}table.function-description>tbody>tr>td:first-child{width:40px;font-weight:bold;}div.formula-description{width:91%;float:left;border-width:1px 1px 1px 1px;border-style:solid;border-color:silver;height:58px;overflow:auto;position:absolute;bottom:0;left:0;font-size:12px;}.formula-description tr:hover{background-color:silver;}.helper-parameters td,.helper-parameters th{text-align:left;}
       #tvExpressions img {
            width: 16px;
            height: 16px;
            padding-right: 3px;
        }

        .btn-flat, .btn-flat.default {
            display: inline-block;
            margin: 0;
            line-height: 15px;
            vertical-align: middle;
            font-size: 12px;
            text-shadow: none;
            box-shadow: none;
            background-image: none;
            border: 0 none;
            color: #fff;
            font-weight: 500;
            border-radius: 4px;
            background: #4997D6;
            border: 1px solid rgb(56, 131, 192);
            cursor: pointer;
            padding: 7px 14px;
            -webkit-transition: all .1s linear;
            -moz-transition: all .1s linear;
            transition: all .1s linear;
        }

        .btn-flat:active {
            -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3) inset;
            -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3) inset;
            box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3) inset;
        }

        .btn-flat:hover {
            text-decoration: none;
            opacity: 0.87;
            color: #fff;
        }

        .btn-flat:active {
            background: rgb(48, 98, 139);
            opacity: 1;
        }