<!--<script src="js/util/md5.js"></script>-->
<div class="modal-over bg-black">
    <form>
        <div class="modal-center animated fadeInUp text-center" style="width:200px;margin:-100px 0 0 -100px;">
            <div class="thumb-lg">
                <img ng-src="{{user.ImageUrl}}" class="img-circle">
            </div>
            <p class="h4 m-t m-b">{{user.Name}}</p>
            <div class="input-group">
                <input id="password" type="password" class="input-sm form-control" style="width:200px"
                       autofocus maxlength="64" autocomplete="off"                       
                       ng-keypress="($event.which===13)?doUnlock(password):''"
                       placeholder="{{'UserInfo.PasswordPlaceholder' | translate}}">
                <span class="input-group-btn">
                    <button class="btn btn-sm btn-default" ng-click="doUnlock();" type="button" style="height:30px;">
                        <i class="fa fa-arrow-right"></i>
                    </button>
                </span>
            </div>
            <div style="margin-top:10px;color:red;" ng-show="!LoginSuccess" translate="UserInfo.PasswordInvalid">
                密码错误
            </div>
        </div>
    </form>
</div>