/*----------------------  公共部分  ------------------------*/
* {
    padding: 0;
    margin: 0;
    font-size: 12px;
}

ul {
    margin: 0;
    padding: 0;
    float: left;
}

li {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
}

p {
    float: left;
}

img {
    border: 0;
    vertical-align: middle;
}

body {
    height: 100%;
    min-width: 630px;
    font-family: "宋体";
    font-size: 12px;
    color: #000;
    text-align: left;
    -webkit-text-size-adjust: none;
    background-color: #f8f8f8;
}

html, body {
    width: 100%;
    height: 100%;
}

a {
    color: #333;
    text-decoration: none;
    font-family: "宋体", Arial;
}

    a:hover {
    text-decoration: underline;
}

/*input, textarea, select
{
    margin: 2px;
    border: 1px solid #e3e3e3;
}

input[type="text"]{font-size:12px;}
*/
input[type="text"], input[type="password"], input[type="file"] {
    padding: 0px 3px;
    border: 1px solid #a3c5e5;
    height: 18px;
    font-size: 12px;
    color: black;
    background: url(../image/input_bg.jpg) repeat-x;
    line-height: 18px;
}

.input_text {
    padding: 0px 3px;
    border: 1px solid #a3c5e5;
    height: 18px;
    font-size: 12px;
    color: black;
    background: url(../image/input_bg.jpg) repeat-x;
    line-height: 18px;
}

input[type="submit"] {
    background: url(button_submit.gif) repeat-x #e3f1fa;
    border: 1px solid #aed0ea;
    padding: 0px 10px;
    height: 24px;
    line-height: 24px;
    color: #3d80b3;
    cursor: pointer;
}

.submit {
    background: url(button_submit.gif) repeat-x #e3f1fa;
    border: 1px solid #aed0ea;
    padding: 0px 10px;
    height: 24px;
    line-height: 24px;
    color: #3d80b3;
    cursor: pointer;
}

textarea {
    padding: 3px;
    border: 1px solid #a3c5e5;
    font-size: 12px;
    color: black;
    margin-bottom: 3px;
    margin-top: 3px; /*background:url(../image/input_bg.jpg) repeat-x;*/
}

select {
    padding: 1px;
    border: 1px solid #a3c5e5;
    background: url(../image/input_bg.jpg) repeat-x;
}

.select {
    padding: 1px;
    border: 1px solid #a3c5e5;
    background: url(../image/input_bg.jpg) repeat-x;
}

textarea, .textarea {
    width: 300px;
    height: 70px;
}

/*input[type="text"],input[type="password"] {height:22px;}*/
.valignMiddle {
    vertical-align: middle;
}
/*End*/

/*---------------------------- 页面头部 -------------------------*/
.header {
    /*background: url(../image/top_bg.png) repeat-x left top;*/
    /*font-weight: bold;
    font-size: 13px;
    color: #fff;
    height: 44px;
    line-height: 27px;
    margin: 0 auto;
    color: #fff;*/
    /*background: #414141 none repeat scroll 0 0 !important;*/ /*实现FF背景透明，文字不透明*/
    /*z-index: 9999;
    position: relative;*/
}
/*.header img
{
    margin-right: 5px;
}
.header_content
{
    width: 100%;
    float: left;
    height: 44px;
}
.header_menu
{
    float: left;
    padding: 16px 0 0 82px;
}*/
.header_infor {
    float: right;
    padding: 16px 47px 0 0;
}
/*.header a
{
    font-weight: bold;
    color: #fff;
    font-size: 13px;
}*/
.toptitle {
    background: #F8F8F8 url(../image/body_bj.gif) repeat-x 0 0;
}

.fist_link_image {
    margin: 0 0 7px 0;
}

    .fist_link_image td {
}

.functionTitle {
    background: url(../image/tb_bjFunction.jpg) repeat-y 0 0;
}

.header.opened {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    background: #414141 none repeat scroll 0 0 !important;
    z-index: 999999; /*实现FF背景透明，文字不透明*/
}

.menudown {
    height: 501px;
    margin-left: -1px;
    clear: both;
    overflow: hidden; /* border-left: 1px solid #000;     border-right: 1px solid #000;     border-bottom: 1px solid #000;*/
    background: #414141 none repeat scroll 0 0 !important; /*实现FF背景透明，文字不透明*/
    filter: Alpha(opacity=95); /*透明度*/
    background: #414141; /*实现IE背景透明*/
    opacity: 0.95;
    position: absolute;
}

ul.down {
    width: auto;
    height: auto;
    padding: 10px 25px 10px 15px;
    float: left;
}

li.title01 {
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    float: left;
    clear: both;
}

    li.title01 a {
    font-size: 16px;
    text-decoration: underline;
}

        li.title01 a:hover {
    text-decoration: underline;
}

li.text01, li.text02 {
    float: left;
    clear: both;
    width: 100%;
}

li.text02 {
    line-height: 18px;
}

/*顶部站点地图图标*/
span.position {
    display: inline-block;
    padding: 0 0 0 26px;
    background: url(../image/arrows_03.jpg) no-repeat 0 3px;
}

/*菜单内容*/
.menuDiv {
    width: 500px;
    height: 419px;
    clear: both;
    border: 2px solid #cc0000;
    z-index: 1000;
    position: absolute;
    display: none;
}

.menuMask {
    width: 504px;
    height: 369px;
    clear: both;
    z-index: 999;
    position: absolute;
    display: none;
}

.menuDiv .mleft {
    float: left;
    width: 139px;
    height: 100%;
    background-color: White;
    color: Black;
}

.mleft ul {
    float: left;
    width: 90%;
    list-style-type: none;
    padding: 0px;
    margin-top: 0px;
    margin-left: 5px;
}

    .mleft ul li {
    width: 98%;
    float: left;
    margin: 0px;
    height: 40px;
    text-align: left;
    line-height: 40px;
    border-bottom: 1px solid #e4e4e4;
    cursor: pointer;
    clear: both;
    padding-right: 5px;
}

        .mleft ul li div {
    float: left;
}

            .mleft ul li div span {
    font-size: 18px;
}

            .mleft ul li div a {
    color: Black;
    text-decoration: none;
}

        .mleft ul li b {
    display: inline-block;
    float: right;
}

.menuDiv .mcenter {
    float: left;
    width: 1px;
    height: 100%;
    background: url(../image/spirt.png) repeat-y;
    overflow-y: hidden;
}

.menuDiv .mright {
    float: right;
    width: 360px;
    _width: 343px;
    height: 100%;
    background-color: #f3f2f2;
}

.mright div {
    float: left;
    width: 100%;
    height: 100%;
}

    .mright div ul {
    float: left;
    list-style-type: none;
    padding: 0px;
    width: 200px;
    margin-top: 7px;
    margin-left: 5px;
}

        .mright div ul li {
    float: left;
    margin: 0px;
    width: 100%;
    height: 25px;
    line-height: 25px;
    padding-left: 10px;
    cursor: pointer;
}

            .mright div ul li:hover {
    background-color: White;
}

            .mright div ul li a {
    font-size: 12px;
    color: #575656;
}

    .mright div div {
    width: 100px;
    height: 100px;
    margin-top: 7px;
    margin-right: 7px;
    float: right;
}

.u_show {
    display: block;
}

.u_hide {
    display: none;
}
/*End*/

/*----------------------------页面底部--------------------------*/
.footer {
    /*background: url(../image/footer_bj.jpg) repeat-x 0 0;*/
    font-weight: bold;
    color: #fff;
    font-size: 12px;
}
/*End*/


/*-------------------------- 页面内容块 ---------------------------*/
.contet_header1 {
    width: 100%;
    float: left;
    height: 26px;
    padding: 30px 0;
    background: url(../image/body_bj.gif) repeat-x 0 0;
}

.contet_bj {
    line-height: 26px;
}

    .contet_bj span {
    color: #18ABEA;
}

.contet_header1 span {
    font-weight: bold;
    float: left;
    font-size: 20px;
}

    .contet_header1 span.split {
    color: #000000;
}

    .contet_header1 span a {
    color: #18ABEA;
    font-size: 22px;
    text-decoration: none;
}

.content_real {
    width: 100%;
    float: left;
}



/*右侧导航条样式*/
.right_top1 {
    width: 100%;
    float: left;
    height: 33px;
    background: url(../image/toplin_bj_03.jpg) repeat-x 0 0;
}

.right_top1 {
    width: 98%;
    float: left;
    height: 36px;
    background: url(../image/bj_lin1.jpg) repeat-x 0 0;
    font-size: 14px;
}

    .right_top1 img {
    vertical-align: middle;
}

    .right_top1 a {
    font-size: 12px;
    margin: 0 0px 0 0;
}

        .right_top1 a:hover {
    text-decoration: none;
}

.right_top1, .flow_info_menu {
    width: 100%;
    float: left;
    height: 28px;
    /*border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;*/
    /* bj_lin1.jpg bgToolbar.gif*/
    /*background: url(../image/bgToolbar.gif) repeat-x 0 0;*/
    background-color: #f6f6f6;
    font-size: 12px;
    /*margin-top:5px;*/
}

    .right_top1 td, .flow_info_menu td {
    padding-left: 7px;
    /*background: url(../image/bgToolbar.gif) repeat-x 0 0;*/
}

    .right_top1 img, .flow_info_menu img {
    vertical-align: middle;
}

    .right_top1 a, .flow_info_menu a {
    font-size: 12px;
    color: #0071bb;
}

        .right_top1 a:hover, .flow_info_menu a:hover {
    text-decoration: underline;
}

/*右侧内容表格样式*/
.edit_group {
    float: left;
    width: 100%; /*border-right: solid 1px #e8e8e8;     border-left: solid 1px #e8e8e8;     border-bottom: solid 1px #e8e8e8;*/
    margin-top: 5px;
    margin-bottom: 7px;
}

    .edit_group th {
    background-color: #f1f1f1;
    padding-left: 7px;
    text-align: left;
    border-bottom: 1px solid silver;
}

    .edit_group tr {
    height: 30px;
}

    .edit_group td {
    padding-right: 5px;
}

.data_table {
    width: 100%;
    float: left;
}

.edit_group select {
    width: 133px;
}
/*表单内容toggle效果*/
.thb1 {
    display: inline-block;
    width: 11px;
    height: 15px;
    float: right;
    margin-right: 10px;
    background: url(../image/moreup.png);
    cursor: pointer;
}

.thb2 {
    display: inline-block;
    width: 11px;
    height: 15px;
    float: right;
    margin-right: 10px;
    background: url(../image/moredown.png);
    cursor: pointer;
}
/*GirdView样式*/
.mywork_list_table {
    float: left;
    margin-bottom: 7px;
    padding-left: 7px;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    border: none;
    overflow-x: scroll;
}

    .mywork_list_table th {
    border-bottom: solid 1px #B9B9B9;
    border-top: solid 1px #EBEBEB;
    border-right: none;
    border-left: none;
}

    .mywork_list_table td {
    /*border-bottom: solid 1px #B9B9B9;
    border-top: solid 1px #EBEBEB;*/
        border-bottom: none;
        border-top: none;
    border-right: none;
    border-left: none;
}

    .mywork_list_table table td {
    border-bottom: none;
    border-top: none;
}

    .titleRow, .mywork_list_table > tbody > tr:first-child {
    height: 26px;
    /*background: url(../image/lise_bj_13.jpg) repeat-x;*/
        background: #89b200;
        color: white;
    font-weight: bold;
}

    .titleRow a {
            color: white;
    }

.itemRow {
    /*background: #F1F1F1;*/
    border-bottom: solid 1px #B9B9B9;
    border-top: solid 1px #EBEBEB;
    background: white;
    height: 32px;
}

.footRow {
    background: #E1E1E1;
    height: 32px;
}

.mywork_list_table tr:nth-child(2n+1):not(:first-child) {
}

.oddRow, .evenRow, .mywork_list_table > tbody > tr:not(:first-child) {
    /*background: #F1F1F1;*/
    background: white;
    height: 32px;
    border-bottom: solid 1px #B9B9B9;
    border-top: solid 1px #B9B9B9;
    border-left: none;
    border-right: none;
}

.activeRow {
    /*background-color: silver;*/
    cursor: pointer;
    background-color: white;
    /*border:1px solid #18ABEA;*/
    border-left: 3px solid #18ABEA;
    border-top: 2px solid #18ABEA;
    border-right: 2px solid #18ABEA;
    border-bottom: 2px solid #18ABEA;
}

.mywork_list_table tr.pager_row td {
    border: none;
    background-color: white;
    text-align: right;
}

.mywork_list_table tr.pager_row td input {
        margin-bottom: 5px;
    }

/*End*/



/*----------------------------首页方块样式---------------------*/
.change_mg_title {
    vertical-align: middle;
    clear: both;
    margin: 0 0 7px 0;
}

    .change_mg_title a {
    float: left;
    margin-left: 20px;
    width: 100px;
    height: 100px;
    display: inline-block;
    color: #ffffff;
    font-weight: bold;
    font-size: 44px;
    line-height: 44px;
    font-family: "宋体";
}

    .change_mg_title div {
    float: left;
    margin-left: 5px;
    margin-top: 20px;
    vertical-align: middle;
    color: #ffffff;
    font-weight: bold;
    font-size: 30px;
    height: 60px;
    line-height: 44px;
    font-family: "宋体";
}

        .change_mg_title div a {
    color: #ffffff;
    font-weight: bold;
    font-size: 30px;
    line-height: 44px;
    font-family: "宋体";
}

.tdFunctions {
    /*background-color: #bdd4ea;*/
    background-color: #f6f6f6;
    margin: 0px;
    /*border:1px solid white;*/
}
/*.tdContent {
    -webkit-box-shadow :-2px -2px 10px #ced9df;
}*/


/*左侧菜单样式*/
.category_left {
    width: 162px;
    float: left; /*background: #55B422;*/
    /*padding: 5px 5px 0 5px;*/
    padding: 0px;
}

    .category_left ul {
    width: 162px;
}

    .category_left li {
    width: 159px;
    /*margin: 0 0 5px 0;*/ /*height:70px;*/
        margin: 0px;
    background: #55B424;
    /*border: solid 1px #84C75E;*/
    /*-moz-border-radius: 5px;*/
    /*-webkit-border-radius: 5px;*/
    /*border-radius: 5px;*/
}

        .category_left li span {
    width: 100%;
    float: left;
    text-align: center;
}

    .category_left span.ico_mg {
    padding: 8px 0;
}

    .category_left li.bj1 {
        background: #459719;
}

    .category_left li a {
    font-weight: 600;
    color: #fff;
    font-size: 14px;
    font-family: "宋体";
}

        .category_left li a:hover {
    text-decoration: underline;
}

.trFunction {
    cursor: pointer;
}


/*1工作台方块 蓝色风格*/
.change_mg_title .cssWorkspaceCode {
    background-color: #054283;
    text-align: center;
    vertical-align: middle;
}

/*左侧菜单 */
.cssWorkspaceCode ul {
    /*background-color: #1a4c82;*/
    /*background: #e2ecf6 url(../image/nav_leftbj.gif) repeat-x 0 100%;*/
    border-right: 1px solid white;
}

.cssWorkspaceCode li {
    /*background: #eaf2fa;*/
    background: #f8f8f8;
    border: solid 1px #ced9df;
    border-top: 0px;
    /*border-right:1px solid white;
    border-left:1px solid white;
    border-bottom:2px solid #ced9df;*/
    /*-webkit-box-shadow:2px 2px 10px  #909090;*/
    /*-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;*/
}

    .cssWorkspaceCode li a {
    font: normal 13px/16px "宋体";
    color: #666;
    text-decoration: none;
}

    .cssWorkspaceCode li:hover {
    background: #0a9fce;
    border-color: #fff;
}

        .cssWorkspaceCode li:hover a {
    color: White;
    text-decoration: none;
}

    .cssWorkspaceCode li.bj1 {
    /*background: #0a9fce;*/
    border-left: solid 1px #ced9df;
    border-right: solid 1px #ced9df;
    border-bottom: solid 2px #ced9df;
    /*border-color: #fff;*/
        background-color: white;
        border-top: 0px;
}

        .cssWorkspaceCode li.bj1 div.bz {
    /*background: #0a9fce;*/
    /*border-color: red;
    background-color:red;*/
    background: #e2ecf6 url(../images/menu-flag.png) repeat-y 0 100%;
            height: 100%;
            width: 100%;
}

        .cssWorkspaceCode li.bj1 a {
    /*color: White;*/
            color: #18ABEA;
}

/*个人设置  紫色风格*/
.change_mg_title .cssPersonSettingsCode {
    background-color: #8d3a80;
    text-align: center;
    vertical-align: middle;
}
/*左侧菜单 */
.cssPersonSettingsCode ul {
    /*background-color: #1a4c82;*/
     background: #e2ecf6 url(../image/nav_leftbj.gif) repeat-y 0 0;
    border-right: 1px solid white;
}

.cssPersonSettingsCode li {
    /*background: #eaf2fa;
    border: solid 1px #ced9df;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;*/
    background: #f8f8f8;
    border: solid 1px #ced9df;
    border-top: 0px;
}

    .cssPersonSettingsCode li a {
    font: normal 13px/16px "宋体";
    color: #666;
    text-decoration: none;
}

    .cssPersonSettingsCode li:hover {
    background: #0a9fce;
    border-color: #fff;
}

        .cssPersonSettingsCode li:hover a {
    color: White;
    text-decoration: none;
}

    .cssPersonSettingsCode li.bj1 {
    /*background: #0a9fce;
    border-color: #fff;*/
    border: solid 1px #ced9df;
    /*border-color: #fff;*/
        background-color: white;
        border-top: 0px;
}

        .cssPersonSettingsCode li.bj1 div.bz {
    /*background: #0a9fce;*/
    border-color: red;
    background: #e2ecf6 url(../images/menu-flag.png) repeat-y 0 100%;
            height: 100%;
            width: 100%;
}

        .cssPersonSettingsCode li.bj1 a {
    /*color: White;*/
            color: #18ABEA;
}


/*2组织结构方块 暗蓝色风格*/
.change_mg_title .cssOrganizationCode {
    background-color: #264863;
    text-align: center;
    vertical-align: middle;
}
/*左侧菜单 */
.cssOrganizationCode ul {
    /*background-color: #1a4c82;*/
    /*background: #e2ecf6 url(../image/nav_leftbj.gif) repeat-x 0 100%;*/
    border-right: 1px solid white;
}

.cssOrganizationCode li {
    /*background: #eaf2fa;
    border: solid 1px #ced9df;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;*/
    background: #f8f8f8;
    border: solid 1px #ced9df;
    border-top: 0px;
}

    .cssOrganizationCode li a {
    font: normal 13px/16px "宋体";
    color: #666;
    text-decoration: none;
}

    .cssOrganizationCode li:hover {
    background: #0a9fce;
    border-color: #fff;
}

        .cssOrganizationCode li:hover a {
    color: White;
    text-decoration: none;
}

    .cssOrganizationCode li.bj1 {
    /*background: #0a9fce;
    border-color: #fff;*/
    border: solid 1px #ced9df;
    /*border-color: #fff;*/
        background-color: white;
        border-top: 0px;
}

        .cssOrganizationCode li.bj1 div.bz {
    /*background: #0a9fce;*/
    border-color: red;
    background: #e2ecf6 url(../images/menu-flag.png) repeat-y 0 100%;
            height: 100%;
            width: 100%;
}

        .cssOrganizationCode li.bj1 a {
    /*color: White;*/
            color: #18ABEA;
}


/*3流程报表方块 黄色风格 */
.change_mg_title .cssReportingCode {
    background-color: #e2a018;
    text-align: center;
    vertical-align: middle;
}
/*左侧菜单 */
.cssReportingCode ul {
    /*background-color: #1a4c82;*/
    background: #e2ecf6 url(../image/nav_leftbj.gif) repeat-x 0 100%;
}

.cssReportingCode li {
    background: #eaf2fa;
    border: solid 1px #ced9df;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

    .cssReportingCode li a {
    font: normal 13px/16px "宋体";
    color: #666;
    text-decoration: none;
}

    .cssReportingCode li:hover {
    background: #0a9fce;
    border-color: #fff;
}

        .cssReportingCode li:hover a {
    color: White;
    text-decoration: none;
}

    .cssReportingCode li.bj1 {
    background: #0a9fce;
    border-color: #fff;
}

        .cssReportingCode li.bj1 a {
    color: White;
}


/*4流程审计方块 亮绿色风格*/
.change_mg_title .cssAuditCode {
    background-color: #5fb80e;
    text-align: center;
    vertical-align: middle;
}
/*左侧菜单 */
.cssAuditCode ul {
    /*background-color: #1a4c82;*/
    background: #e2ecf6 url(../image/nav_leftbj.gif) repeat-x 0 100%;
}

.cssAuditCode li {
    background: #eaf2fa;
    border: solid 1px #ced9df;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

    .cssAuditCode li a {
    font: normal 13px/16px "宋体";
    color: #666;
    text-decoration: none;
}

    .cssAuditCode li:hover {
    background: #0a9fce;
    border-color: #fff;
}

        .cssAuditCode li:hover a {
    color: White;
    text-decoration: none;
}

    .cssAuditCode li.bj1 {
    background: #0a9fce;
    border-color: #fff;
}

        .cssAuditCode li.bj1 a {
    color: White;
}


/*5流程分析方块 红色风格*/
.change_mg_title .cssBPACode {
    background-color: #bd233f;
    text-align: center;
    vertical-align: middle;
}
/*左侧菜单 */
.cssBPACode ul {
    /*background-color: #1a4c82;*/
    background: #e2ecf6 url(../image/nav_leftbj.gif) repeat-x 0 100%;
}

.cssBPACode li {
    background: #eaf2fa;
    border: solid 1px #ced9df;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

    .cssBPACode li a {
    font: normal 13px/16px "宋体";
    color: #666;
    text-decoration: none;
}

    .cssBPACode li:hover {
    background: #0a9fce;
    border-color: #fff;
}

        .cssBPACode li:hover a {
    color: White;
    text-decoration: none;
}

    .cssBPACode li.bj1 {
    background: #0a9fce;
    border-color: #fff;
}

        .cssBPACode li.bj1 a {
    color: White;
}

/*6业务集成方块 深绿色风格*/
.change_mg_title .cssBizBusCode {
    background-color: #1b9d57;
    text-align: center;
    vertical-align: middle;
}
/*左侧菜单 */
.cssBizBusCode ul {
    /*background-color: #1a4c82;*/
    background: #e2ecf6 url(../image/nav_leftbj.gif) repeat-x 0 100%;
}

.cssBizBusCode li {
    background: #eaf2fa;
    border: solid 1px #ced9df;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

    .cssBizBusCode li a {
    font: normal 13px/16px "宋体";
    color: #666;
    text-decoration: none;
}

    .cssBizBusCode li:hover {
    background: #0a9fce;
    border-color: #fff;
}

        .cssBizBusCode li:hover a {
    color: White;
    text-decoration: none;
}

    .cssBizBusCode li.bj1 {
    background: #0a9fce;
    border-color: #fff;
}

        .cssBizBusCode li.bj1 a {
    color: White;
}

/*7系统管理方块 黑色*/
.change_mg_title .cssSysCode {
    background-color: #414141;
    text-align: center;
    vertical-align: middle;
}
/*左侧菜单 */
.cssSysCode ul {
    /*background-color: #1a4c82;*/
    background: #e2ecf6 url(../image/nav_leftbj.gif) repeat-x 0 100%;
}

.cssSysCode li {
    background: #eaf2fa;
    border: solid 1px #ced9df;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

    .cssSysCode li a {
    font: normal 13px/16px "宋体";
    color: #666;
    text-decoration: none;
}

    .cssSysCode li:hover {
    background: #0a9fce;
    border-color: #fff;
}

        .cssSysCode li:hover a {
    color: White;
    text-decoration: none;
}

    .cssSysCode li.bj1 {
    background: #0a9fce;
    border-color: #fff;
}

        .cssSysCode li.bj1 a {
    color: White;
}

/*8基础设置方块 亮蓝色风格*/
.change_mg_title .cssBaseCode {
    background-color: #01adb9;
    text-align: center;
    vertical-align: middle;
}
/*左侧菜单 */
.cssBaseCode ul {
    /*background-color: #1a4c82;*/
    background: #e2ecf6 url(../image/nav_leftbj.gif) repeat-x 0 100%;
}

.cssBaseCode li {
    background: #eaf2fa;
    border: solid 1px #ced9df;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

    .cssBaseCode li a {
    font: normal 13px/16px "宋体";
    color: #666;
    text-decoration: none;
}

    .cssBaseCode li:hover {
    background: #0a9fce;
    border-color: #fff;
}

        .cssBaseCode li:hover a {
    color: White;
    text-decoration: none;
}

    .cssBaseCode li.bj1 {
    background: #0a9fce;
    border-color: #fff;
}

        .cssBaseCode li.bj1 a {
    color: White;
}
/*9流程体系方块*/
.change_mg_title .cssPAM {
    background-color: #264863;
    text-align: center;
    vertical-align: middle;
}
/*左侧菜单 */
.cssPAM ul {
    /*background-color: #1a4c82;*/
    background: #e2ecf6 url(../image/nav_leftbj.gif) repeat-x 0 100%;
}

.cssPAM li {
    background: #eaf2fa;
    border: solid 1px #ced9df;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

    .cssPAM li a {
    font: normal 13px/16px "宋体";
    color: #666;
    text-decoration: none;
}

    .cssPAM li:hover {
    background: #0a9fce;
    border-color: #fff;
}

        .cssPAM li:hover a {
    color: White;
    text-decoration: none;
}

    .cssPAM li.bj1 {
    background: #0a9fce;
    border-color: #fff;
}

        .cssPAM li.bj1 a {
    color: White;
}
/*End*/


/*------------------------------------其它------------------------*/
.search_table {
    width: 100%;
    border-right: solid 1px #e8e8e8;
    border-left: solid 1px #e8e8e8;
    border-bottom: solid 1px #e8e8e8;
    margin-top: 0px;
}

.grpTitle {
    width: 100%;
    height: 36px;
    background: url(../image/bj_lin1.jpg) repeat-x 0 0;
    font-size: 12px;
}

.top_search {
    float: left;
    padding: 6px 0 6px 20px;
    height: 21px;
    background: url(../image/titeljiao_03.jpg) no-repeat 0 0;
}

.screening {
    float: right;
    padding: 6px 20px 6px 0;
    height: 21px;
    background: url(../image/titeljiao_05.jpg) no-repeat 100% 0;
}

.right_top {
    background: url(../image/toplin_bj_03.jpg) repeat-x 0 0;
}

    .right_top span.time {
    height: 21px;
    line-height: 21px;
    background: #fff;
    padding: 0 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    float: left;
    text-align: center;
    margin: 0 10px 0 0;
    font-weight: bold;
    font-size: 13px;
}

.search_top {
    width: 146px;
    height: 21px;
    float: left;
}

    .search_top input {
    float: left;
}

    .search_top .iss_atput {
    width: 95px;
    height: 21px;
    line-height: 21px;
    font-weight: bold;
    font-size: 13px;
    border: none 0;
    -moz-border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
    border-radius: 10px 0 0 10px;
    background: #fff;
    padding: 0 5px;
}

.colum_insace {
    margin: 0 0 0 10px;
    float: right;
    display: inline;
}

    .colum_insace span.content {
    padding: 0 10px 0 9px;
    background: #fff;
    line-height: 21px;
    -moz-border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
    border-radius: 10px 0 0 10px;
    font-size: 13px;
    font-weight: bold;
    float: left;
}

    .colum_insace span.buton {
    width: 17px;
    float: left;
}

.tm2_table tr {
    background: #F1F1F1;
    font-size: 13px;
}

    .tm2_table tr.bjcolor {
    background: #E1E1E1;
}

.tm2_table td {
    height: 32px;
    border-bottom: solid 1px #B9B9B9;
    border-top: solid 1px #EBEBEB;
}

.tm2_table tr.titlebj {
    height: 26px;
    background: url(../image/lise_bj_13.jpg) repeat-x 0 0;
    font-weight: bold;
}

    .tm2_table tr.titlebj td {
    height: 29px;
}

.framework, .technological, .management, .model_statistics {
    float: left;
    height: 100%;
    width: 98%;
}

    .fram_txt td, .technological td, .management td, .model_statistics td {
    font-size: 13px;
    padding: 0;
    font-family: "宋体";
}

    .technological td, .management td {
    font-size: 12px;
}

.fram_txt td.name_title {
    padding: 5px 0 0 0;
    font-weight: bold;
    font-size: 12px;
}

.framework input {
    width: 208px;
    padding: 0 5px;
    border: solid 1px #bcbcbc;
    height: 27px;
    line-height: 27px;
}

.framework .address {
    height: 92px;
    line-height: 16px;
    padding: 5px;
}

.t_process td.width_pad1 {
    font-size: 12px;
    padding: 0;
    font-family: "宋体";
    padding: 0 0 0 37px;
}

.t_process td.width_pad2 {
    padding: 0 0 0 10px;
}

.t_process .paddings {
    font-size: 15px;
    font-family: "宋体";
}

.t_process td.width_pad2 img {
    vertical-align: middle;
}

.t_process td.width_pad2 a {
    font-weight: bold;
    font-size: 12px;
}

.t_process td.size1 {
    font-weight: bold;
    font-size: 13px;
}

.t_process .paddings td {
    padding: 0;
}

.t_process input {
    padding: 0 5px;
    border: solid 1px #bcbcbc;
    height: 27px;
    line-height: 27px;
}

#radio {
    border: none;
    margin: 0;
    padding: 0;
}

.width_model {
    float: left;
    height: 22px;
    line-height: 22px;
    margin: 0 10px 0 0;
}

    .width_model input {
    width: 105px;
    float: left;
    height: 22px;
    line-height: 22px;
    border: solid 1px #bcbcbc;
    margin: 0 6px;
}

    .width_model span {
    float: left;
}

.chooes_range {
    float: left;
    padding: 12px 0 12px 37px;
    width: 100%;
    float: left;
}

    .chooes_range span {
    float: left;
    margin: 0 10px 0 0;
    line-height: 26px;
    font-weight: bold;
    font-size: 12px;
}

    .chooes_range form {
    float: left;
}

    .chooes_range input {
    float: left;
}

    .chooes_range .iss_atput1 {
    width: 160px;
    float: left;
    padding: 0 5px;
    margin: 0;
    height: 26px;
    line-height: 26px;
    background: #fff;
    border-color: #bcbcbc;
    border-width: 1px 0 1px 1px;
    border-style: solid;
}

    .chooes_range .button {
    margin-left: -5px;
}

.colum_chooes {
    width: 100%;
}

    .colum_chooes td {
    border-bottom: solid 1px #b9b9b9;
    font-size: 12px;
}

    .colum_chooes tr {
    background: #f1f1f1;
    height: 28px;
    text-align: center;
}

        .colum_chooes tr.bj1 {
    background: url(../image/bj_titles_07.jpg) repeat-x 0 0;
}

        .colum_chooes tr.bj2 {
    background: #e1e1e1;
}

.left_menu_bar {
    width: 100%;
    float: left;
}

    .left_menu_bar td.tik {
    background: url(../image/tille_bjup_03.jpg) repeat-x 0 0;
    font-weight: 600;
    font-family: "宋体";
    font-size: 14px;
}

        .left_menu_bar td.tik img, .mtok_mulu img {
    vertical-align: middle;
}

.project_volum {
    width: 100%;
    border-collapse: collapse;
    border-width: 1px;
}

    .project_volum .content {
    width: 100%;
    float: left;
}

    .project_volum .title {
    font-weight: bold;
}
/*background:url(../image/bj3.jpg) repeat-x 0 0;*/
    .project_volum td {
    background: #D1DFEA url(../image/td_bjProperty.jpg) repeat-x 0 0;
}
/*.project_volum td{border-bottom:solid 1px #e8e8e8; font-weight:bold; background-color:#D6DFEE; font-size:13px; font-family:"宋体";}*/
    .project_volum span.title {
    display: block;
    padding: 0 0 0 10px;
    background-repeat: repeat;
    height: 30px;
    line-height: 30px;
    border-right: solid 1px #e8e8e8;
}

.review {
    width: 100%;
    float: left;
    padding: 10px 0;
}

    .review span {
    float: left;
    line-height: 20px;
}

    .review textarea {
    float: left;
    width: 460px;
    height: 62px;
    padding: 5px;
    margin: 0 30px 0 10px;
}

.verification {
    float: left;
    margin: 0 0 0 10px;
}

.verificat_txt {
    width: 74px;
    height: 20px;
    border: solid 1px #c8c8c8;
}

.style_line22 {
    background: url(../image/tille_bjup_03.jpg) repeat-x 0 0;
}

.mtok_mulu {
    font-weight: 600;
    font-family: "宋体";
    font-size: 14px;
}

.mtok_mulu_img {
    padding: 0 0 0 40px;
}

    .mtok_mulu_img img {
    margin: 0 10px 0 0;
    vertical-align: middle;
}

.content_real_bj {
    /*background:#f8f8f8;*/
}

.category_mein_right {
    width: 99%;
    float: left;
}

.top_search {
    float: left;
    padding: 6px 0 6px 20px;
    height: 21px;
    background: url(../image/sm_bj.gif) no-repeat 0 -155px;
}

.screening {
    float: right;
    padding: 6px 20px 6px 0;
    height: 21px;
    background: url(../image/sm_bj.gif) no-repeat 100% -205px;
}

.top_search span.time {
    height: 21px;
    line-height: 21px;
    background: #fff;
    padding: 0 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    float: left;
    text-align: center;
    margin: 0 10px 0 0;
    font-weight: bold;
    font-size: 13px;
}

.search_top {
    width: 146px;
    height: 21px;
    float: left;
}

    .search_top input {
    float: left;
}

    .search_top .iss_atput {
    width: 95px;
    height: 21px;
    line-height: 21px;
    font-weight: bold;
    font-size: 13px;
    border: none 0;
    -moz-border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
    border-radius: 10px 0 0 10px;
    background: #fff;
    padding: 0 5px;
}

.colum_insace {
    float: left;
    margin: 0 0 0 10px;
    display: inline;
}

    .colum_insace span.content {
    padding: 0 10px 0 9px;
    background: #fff;
    line-height: 21px;
    -moz-border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
    border-radius: 10px 0 0 10px;
    font-size: 13px;
    font-weight: bold;
    float: left;
}

    .colum_insace span.buton {
    width: 17px;
    float: left;
}

.main_right_lay2 {
    width: 100%;
    float: left;
}

.orange_right_lay1 {
    width: 100%;
    float: left;
    height: 36px;
    background: url(../image/bj_lin1.jpg) repeat-x 0 0;
    font-weight: bold;
    font-size: 14px;
}

    .orange_right_lay1 span {
    float: left;
}

    .orange_right_lay1 .nav_l_1 {
    padding: 10px 0 0 20px;
}

    .orange_right_lay1 .nav_l_2 {
    padding: 10px 0 0 120px;
}

    .orange_right_lay1 .nav_l_3 {
    float: right;
    padding: 10px 10px 0 0;
}

    .orange_right_lay1 a {
    font-weight: bold;
    font-size: 14px;
    margin: 0 15px 0 0;
}

        .orange_right_lay1 a:hover {
    text-decoration: none;
}

    .orange_right_lay1 img {
    vertical-align: top;
}

.orange_right_lay2 {
    width: 100%;
    float: left;
}

.about_your {
    float: left;
    padding: 0 0 0 100px;
    width: 100%;
    height: 100%;
}

    .about_your div {
    width: 100%;
    float: left;
    margin: 0 0 26px 0;
}

    .about_your span {
    float: left;
    margin: 0 5px 0 0;
    font-weight: bold;
    font-size: 12px;
    line-height: 27px;
}

    .about_your input {
    width: 208px;
    float: left;
    padding: 0 5px;
    border: solid 1px #bcbcbc;
    height: 27px;
    line-height: 27px;
    margin: 0 70px 0 0;
}

    .about_your .address {
    height: 92px;
    line-height: 16px;
    padding: 5px;
}

.red_right_2 {
    width: 100%;
    float: left;
}

.category_html3_t {
    width: 100%;
    float: left;
    height: 36px;
    background: url(../image/tille_bjup_03.jpg) repeat-x 0 0;
}

    .category_html3_t img {
    vertical-align: top;
    margin: 0 10px 0 0;
}

    .category_html3_t span.left {
    width: 180px;
    float: left;
    text-align: left;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 0 0 15px;
}

    .category_html3_t span.mglink {
    float: left;
    padding: 8px 0 0 20px;
}

        .category_html3_t span.mglink img {
    cursor: pointer;
}

    .category_html3_t span.zoomLink {
    float: left;
    padding: 8px 0 0 20px;
}

        .category_html3_t span.zoomLink img {
    cursor: pointer;
}

    .category_html3_t span.workflowLink {
    float: left;
    padding: 8px 0 0 0px;
}

        .category_html3_t span.workflowLink img {
    cursor: pointer;
}

.category_html3_bot {
    width: 100%;
    float: left;
}

.nav_remend {
    width: 100%;
    float: left;
}

    .nav_remend div {
    width: 100%;
    float: left;
    height: 29px;
    line-height: 29px;
    height: 29px;
}

    .nav_remend span.title {
    float: left;
    background: url(../image/bj3.jpg) repeat-x 0 0;
    border-right: solid 1px #E8E8E8;
    width: 210px;
    padding: 0 0 0 10px;
}

    .nav_remend span.txt {
    font-weight: normal;
    font-size: 12px;
    float: left;
    padding: 0 0 0 10px;
    display: inline;
}

.hand {
    cursor: pointer;
    float: left;
}

span.join, span.favorite {
    cursor: pointer;
    float: right;
    margin: 5px 0 0 0px;
    padding-left: 24px;
}

span.favorite {
    width: 125px;
    height: 18px;
    line-height: 18px;
    background: url(images/join.png) no-repeat 0px 1px;
}

span.join {
    width: 105px;
    height: 18px;
    line-height: 18px;
    background: url(images/fav.png) no-repeat 1px 1px;
}

    span.join a, span.favorite a {
    color: #fff;
    text-decoration: none;
}


img.sublogo {
    padding: 0 5px 5px 0;
    float: left;
}

img.logoNav {
    padding: 0 7px 12px 7px;
    float: left;
}

img.logo-news {
    padding: 24px 0 10px 141px;
    float: left;
}

img.go {
    margin: 4px 13px 4px 313px;
    float: left;
}

ul.down.caselogo {
    width: 370px;
}

.ul.down.caselogo {
    margin-left: 20px;
}

.caselogo .text01 a img {
    width: 80px !important;
    height: 80px !important;
    padding: 0px;
}
/* Menu End -------- */


/*-------------遮罩提示-----------------*/
#screen {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 100;
    background-color: #666;
    opacity: 0.5;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
}

#screenContent {
    width: 300px;
    height: 100px;
    position: absolute;
    border: 5px solid #414141;
    background-color: white;
    z-index: 101;
    display: none;
    opacity: 0.7;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    vertical-align: middle;
    clear: both;
}

    #screenContent div {
    float: left;
    margin: 15px;
}

    #screenContent span {
    float: left;
    margin-top: 35px;
    font-size: 15px;
    font-weight: bold;
}

.OpacityClass {
    background-color: #666;
    opacity: 0.7;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
}

/* PBA遮罩层效果*/
.modalBackground {
    background-color: #000;
    filter: alpha(opacity=40);
    opacity: 0.5;
}

.popPanel {
    background-color: White;
}

/*End*/

.msgprint {
    height: 30px;
    border: 1px solid #a3c5e5; /*color:#090;*/
    color: red;
    background: url(../images/hint.gif) no-repeat 10px center #e9f2fc;
    line-height: 30px;
    padding-left: 30px;
    margin-bottom: 5px;
}

.breakAll {
    white-space: nowrap;
    word-break: keep-all;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*~~~~~~~~~~~~增加用户头像显示功能~~~~~~~~~~~~~~~~~~~~~~~~*/
.divUserPanel {
    width: 280px;
    height: 180px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10000;
    display: none;
}

    .divUserPanel .topP {
        text-align: right;
    }

    .divUserPanel .bottomP {
        position: absolute;
        left: 0px;
        bottom: 10px;
        bottom: 10px;
        display: none;
    }

.divUserPanel_Warp {
    border: 2px solid black;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    z-index: 10005;
    position: absolute;
    top: 7px;
    top: 6px;
    width: 100%;
    height: 153px;
    background-color: White;
}

    .divUserPanel_Warp .divFace {
        width: 100px;
        height: 120px;
        border: 3px solid #ccc;
        float: left;
        margin-left: 8px;
        margin-right: 7px;
        margin-top: 12px;
    }

    .divUserPanel_Warp .divDetail {
        width: 135px;
        height: 100%;
        float: right;
        margin-right: 10px;
    }

        .divUserPanel_Warp .divDetail strong {
            display: block;
            margin: 0px;
            padding: 0px;
            height: 40px;
            line-height: 40px;
            font-size: 15px;
        }
            
        .divUserPanel_Warp .divDetail p {
            display: block;
            margin: 0px;
            padding: 0px;
            width: 100%;
            height: 20px;
            line-height: 22px;
            border-bottom: 1px solid #ddd;
        }

        .divUserPanel_Warp .divDetail span a {
            color:blue;
        }

.left25 {
    padding-left: 25px;
    text-align: left;
}


.flow_info_title {
	background: #f3f4f6;
	font-weight: bold;
	width: 100%;
	margin-bottom: 6px;
	margin-top: 18px;
    height: 25px;
    line-height: 25px;
    padding-left: 7px;
}


/***********BPA Menu样式*******/

.MainMenu {
     padding-left: 10px;
    margin-top: 10px;
    float: left;
    clear: both;
 }

.SubMenu {
    float: left;
    display: block;
     width: 85px;
     height: 28px;
     line-height: 28px;
     background: #E5E5E5;
     color: #707070;
     text-align: center;
     cursor: pointer;
    margin-right: 7px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
 }
 
.SubMenu150 {
    float: left;
    display: block;
     width: 150px;
     height: 28px;
     line-height: 28px;
     background: #E5E5E5;
     color: #707070;
     text-align: center;
     cursor: pointer;
    margin-right: 7px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
 }
 
.HoverMenu {
     background: #0A9fCE;
     color: white;
 }

.line1 {
     width: 100%;
     height: 15px;
     border-top: 1px solid #0A9fCE;
 }