<div class="hbox hbox-auto-xs hbox-auto-sm"
	ng-init="
     app.settings.asideFolded=false;
     app.settings.asideDock=false;">

    <div class="panel-heading">
        <span class="panel-title">
            设置密码
        </span>
    </div>
    <div class="panel-body" style="background-color:white;">
        <!--<div class="form-group form-panel-group">
            <div class="col-sm-2 control-label">
                <label>图像</label>
                <input type="file" filestyle="" />
            </div>
            <div class="col-sm-10">

            </div>
        </div>-->


		<div class="form-group form-panel-group">
			<div class="avatar upload_box upload_area"
				style="float: none; width: 200px">
				<img class="img js_edit_img" src="../../img/H.png" data-src="" />
				<div class="ui_loading"></div>
				<input type="file" id="inputFile1" name="file" class="ignore"
					style="position: absolute; left: 0px; opacity: 0; z-index: 100; cursor: pointer; width: 200px; height: 82px;">
				<a href="">重新上传</a>
			</div>
		</div>
	</div>
</div>