<!--
    批量模式
     -->
<!--  ng-init="
     app.settings.asideFolded=false;
     app.settings.asideDock=false;" -->
<div class="hbox hbox-auto-xs hbox-auto-sm">
    <!-- main -->
    <div class="col">
        <!-- main header -->
        <div class="bg-light lter b-b wrapper-md">
            <div class="row" style=" padding-right: 15px; ">
                <div class="col-sm-6 col-xs-12">
                    <span class="h3" translate="HomePage.Workspace_MyUnfinishedWorkItemByBatch"></span>
                </div>
                <div class="btn-group  pull-right">
                    <button type="button" class="btn btn-default m-t-n-xs" title="列表模式"
                            ui-sref="app.MyUnfinishedWorkItem">
                        <i class="fa fa-bars"></i><span style=" margin-left:5px;" translate="QueryTableColumn.ListMode"></span>
                    </button>
                    <button type="button" class="btn btn-default m-t-n-xs" title="分组模式" ui-sref="app.MyUnfinishedWorkItemByGroup">
                        <i class="fa fa-bars"></i><span style=" margin-left:5px;" translate="QueryTableColumn.GroupMode"></span>
                    </button>
                </div>
            </div>
        </div>

        <!--表格部分Start-->
        <div class="wrapper-md paddingbottomNone">
            <div class="panel panel-default">
                <div class="table-responsive">
                    <div class="btn-group searchContainer_toolbar" style="padding:10px 10px 0px;">
                        <button type="button" class="btn btn-default" ng-click="showCommentModal(true);">
                            <i class="fa fa-check"></i><span style=" margin-left:5px;" translate="QueryTableColumn.Approval">审批通过</span>
                        </button>
                        <button type="button" class="btn btn-default" ng-click="showCommentModal(false);">
                            <i class="fa fa-mail-reply-all"></i><span style=" margin-left:5px;" translate="QueryTableColumn.DisApproval">审批拒绝</span>
                        </button>
                    </div>

                    <div class="form-inline" style="float:right;">
                        <div class="input-group searchContainer">
                            <input type="text" class="input-sm form-control" style="width:200px"
                                   ng-model="searchKey" ng-change="searchKeyChange()"
                                   autocomplete="off"
                                   placeholder="{{LanJson.search}}">
                            <span class="input-group-btn">
                                <button class="btn btn-sm btn-default" type="button" style="height:30px;"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </div>

                    <table ui-jq="dataTable" id="tabUnfinishWorkItemByBatch"
                           ui-options="options_UnfinishWorkItemByBatch"
                           class="table table-striped m-b-none" style="width:99.5%;">
                        <thead>
                            <tr>
                                <th style="width:4%;padding-left:15px;">
                                    <input type="checkbox" ng-model="checkAll" ng-click="checkAllSelect(true)"/>
                                </th>
                                <th style="width:8%;" class="hide1024"><span translate="QueryTableColumn.Flag"></span></th>
                                <th style="width:25%;"><span translate="QueryTableColumn.ProcessName"></span></th>
                                <th style="width: 15%;"><span translate="QueryTableColumn.Title"></span></th>
                                <th style="width: 15%;" class="hide414"><span translate="QueryTableColumn.ReceiveTime"></span></th>
                                <th style="width: 15%;" class="hide414"><span translate="QueryTableColumn.Originator"></span></th>
                                <th style="width: 15%;" class="hide1024"><span translate="QueryTableColumn.DeptOfOriginator"></span></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--表格部分End-->
    </div>
    <!-- / main -->
</div>

<script type="text/ng-template" id="WorkItemBatchModal.html">
    <form name="form">
        <div class="modal-header">
            <button type="button" class="close"
                    data-dismiss="modal" aria-hidden="true" ng-click="cancel()">
                &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
                <!--您选择了{{selectedCount}}条任务，请输入<span style="color:#FF0000">{{actionText}}</span>意见-->
                {{'WorkItemBatchModal.YouSelected'|translate}}
                {{selectedCount}}
                {{'WorkItemBatchModal.Tasks'|translate}}，
                {{'WorkItemBatchModal.PleaseInput'|translate}}
                <span style="color:#FF0000">{{actionText}}</span>
                {{'WorkItemBatchModal.Comments'|translate}}
            </h4>
        </div>
        <div class="modal-body">
            <textarea ng-model="commentText" class="form-control" style="font-size:12px;"
                      placeholder="{{LanJson.PleaseInputComment}}" required></textarea>
            <!-- o.ActivityName for o in InstanceActivity -->
            <select class="form-control" style="margin-top:6px;font-size:12px;"
                    ng-model="Comment" ng-change="SetCommentValue()"
                    ng-options="comment.CommentText as comment.CommentText for comment in MyComment">
                <option value="">{{'WorkItemBatchModal.Select_Comments'|translate}}</option>
            </select>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-info" ng-click="ok()" ng-disabled="form.$invalid">
                <span translate="GlobalButton.Confirm">确定</span>
            </button>
        </div>
    </form>
</script>