
<ion-view hide-nav-bar="{{$root.dingMobile.hideHeader}}">
    <ion-nav-bar class="bar-calm">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-ios-arrow-back" ng-click="$ionicGoBack()">返回</button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="scroll-content ionic-scroll">
        <ion-list>
            <div class="item item-divider">
                请选择要查看的表单
            </div>
            <ion-item ng-repeat="sheet in mulSheets"
                      ng-click="openInstanceSheet('{{sheet.Url}}')">
                {{sheet.Text}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
