<ion-view view-title="密码重设">
    <ion-nav-bar class="bar-stable">
        <ion-nav-back-button class="button-clear">
            <button class="button button-icon button-clear ion-ios-arrow-left"
                    ng-click="goback()">
                返回
            </button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <form name="form">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">原密码</span>
                    <input type="password" ng-model="sendData.oldpassword" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">新密码</span>
                    <input type="password" ng-model="sendData.newpassword" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">确认密码</span>
                    <input type="password" ng-model="sendData.confirmpassword" required>
                </label>
            </div>
        </form>
        <div class="padding">
            <button class="button button-block button-positive"
                    ng-disabled="form.$invalid"
                    ng-click="save();">
                确 定
            </button>
        </div>
    </ion-content>
</ion-view>