<!--分享已办任务-->
<script type="text/ng-template" id="shareFinishedFlow.html">
    <form class="bs-example form-horizontal" ng-submit="shareFlow(temp)">
        <div class="modal-header">
            <button type="button" class="close"
                    data-dismiss="modal" aria-hidden="true" ng-click="cancel()">
                ×
            </button>
            <h4 class="modal-title" style="color:#778CA2;">
                分享到共享知识
            </h4>
        </div>
        <div class="modal-body" style="color:#778CA2;">
            <div class="row form-group" style="margin-bottom: 20px;">
                <div class="col-md-1"></div>
                <div class="col-md-2">名称</div>
                <div class="col-md-8 input-group">
                    <input class="form-control" type="text" style="border:1px solid #d9d9d9;background-color:transparent; border-radius: 4px;box-shadow: none;height: 32px;"
                           ng-model="name" autofocus="autofocus"/>
                </div>
            </div>
            <div class="row " style="margin-bottom: 20px;">
                <div class="col-md-1"></div>
                <div class="col-md-2">标签</div>
                <div class="col-md-8 input-group">
                    <input autocomplete="off" id="shareTag" maxlength="32" class="input form-control" ng-model="tag"/>
                </div>
            </div>
            <div class="row form-group" style="margin-bottom: 20px;">
                <div class="col-md-1"></div>
                <div class="col-md-2">描述</div>
                <div class="col-md-8 input-group">
                    <textarea ng-model="desc" class="form-control" rows="2" style="resize: none;"></textarea>
                </div>
            </div>
            <div class="row form-group" style="margin-bottom: 20px;">
                <div class="col-md-1"></div>
                <div class="col-md-2">开始时间</div>
                <div class="col-md-8 input-group">
                    <input id="StartTime"
                           autocomplete="off"
                           ui-jq="wdatePicker" ui-options="StartTimeOption"
                           class="input form-control"/>
                </div>
            </div>
            <div class="row form-group" style="margin-bottom: 20px;">
                <div class="col-md-1"></div>
                <div class="col-md-2">结束时间</div>
                <div class="col-md-8 input-group">
                    <input id="EndTime"
                           autocomplete="off"
                           class="input form-control"
                           ui-jq="wdatePicker" ui-options="EndTimeOption"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2">权限选择</div>
                <div class="col-md-8 input-group">
                    <div ui-jq="SheetUser" ui-options="WasAgentOptions" id="sharePermission"
                         class="" style="" data-orgunitvisible="true" data-groupvisible="true" data-sheetusercontrol="true">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-disabled="temp.inprocess" ng-click="cancel();">取消</button>
            <button type="submit" class="btn btn-primary" ng-disabled="temp.inprocess">保存</button>
        </div>
    </form>

</script>

<!--收藏已办任务-->
<script type="text/ng-template" id="collectFinishedFlow.html">
    <form class="bs-example form-horizontal" ng-submit="collectFlow(temp)">
        <div class="modal-header">
            <button type="button" class="close"
                    data-dismiss="modal" aria-hidden="true" ng-click="cancel()">
                ×
            </button>
            <h4 class="modal-title" style="color:#778CA2;">
                收藏到我的知识
            </h4>
        </div>
        <div class="modal-body" style="color:#778CA2;">
            <div class="row form-group" style="margin-bottom: 20px;">
                <div class="col-md-1"></div>
                <div class="col-md-2">名称</div>
                <div class="col-md-8 input-group">
                    <input class="form-control" type="text" style="border:1px solid #d9d9d9;background-color:transparent; border-radius: 4px;box-shadow: none;height: 32px;"
                           ng-model="name" autofocus="autofocus"/>
                </div>
            </div>
            <div class="row " style="margin-bottom: 20px;">
                <div class="col-md-1"></div>
                <div class="col-md-2">标签</div>
                <div class="col-md-8 input-group">
                    <input autocomplete="off" id="collectTag" maxlength="32" class="input form-control" ng-model="tag"/>
                </div>
            </div>
            <div class="row form-group" style="margin-bottom: 20px;">
                <div class="col-md-1"></div>
                <div class="col-md-2">描述</div>
                <div class="col-md-8 input-group">
                    <textarea ng-model="desc" class="form-control" rows="2" style="resize: none;"></textarea>
                </div>
            </div>
            <div class="row form-group" style="margin-bottom: 20px;">
                <div class="col-md-1"></div>
                <div class="col-md-2">开始时间</div>
                <div class="col-md-8 input-group">
                    <input id="MyStartTime"
                           autocomplete="off"
                           ui-jq="wdatePicker" ui-options="StartTimeOption"
                           class="input form-control"/>
                </div>
            </div>
            <div class="row form-group" style="margin-bottom: 20px;">
                <div class="col-md-1"></div>
                <div class="col-md-2">结束时间</div>
                <div class="col-md-8 input-group">
                    <input id="MyEndTime"
                           autocomplete="off"
                           class="input form-control"
                           ui-jq="wdatePicker" ui-options="EndTimeOption"/>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-disabled="temp.inprocess" ng-click="cancel();">取消</button>
            <button type="submit" class="btn btn-primary" ng-disabled="temp.inprocess">保存</button>
        </div>
    </form>

</script>