.dataTables_info{
    float: left;
    padding-left: 20px;
    margin-bottom: 10px;
}
.dataTables_paginate{
    float: right;
    padding-right: 10px;
    margin-bottom: 10px!important;
}
.dataTables_paginate>a:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.dataTables_paginate>a:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.dataTables_paginate>a,.dataTables_paginate>span {
    position: relative;
    float: left;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #428bca;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.dataTables_paginate>a{
    padding: 6px 12px;
}
.dataTables_paginate>span {
   /*display: flex;*/
}
.dataTables_paginate>span>a{
    border-color: #dee5e7;
    padding: 6px 12px;
    line-height: 1.42857143;
    display: inline-block;
}
.dataTables_paginate>span>.paginate_button {
    color: #428bca;
    border-left: 0.5px solid #dee5e7;
    border-right: 0.5px solid #dee5e7;
}
.dataTables_paginate>span>.current {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #428bca;
    border-color: #428bca;
}