<script>
    $(function () {
        var pageData = {
            WorkflowPackage: {},
            FolderId: '',
            StorageType: [{ Value: "0", Text: $.Lang("WorkflowPackage.DataList") }, { Value: "1", Text: $.Lang("WorkflowPackage.PureServiceBased") }],
            LanData: $.Languages
        };
        //初始化页面数据
        initPageData();
        var model = new Vue({
            el: "#content",
            data: pageData,
            methods: {
                saveData: function (event) {
                    this.$validate(true);//表单验证
                    if (this.$formValidator.invalid) {
                        // $.H3Dialog.Warn({ content: $.Lang("msgGlobalString.FormInvalid") });
                    } else {
                        saveData();
                    }
                },
                setIsShared: function (event) {
                    if (pageData.WorkflowPackage.ObjectID)
                        setIsShared();
                }
            }
        });
        $("#ToolBar").AspLinkToolBar();
        $(".H3Panel").BuildPanel();

        $("#divWorkflow").SheetWorkflow({ Editable: !pageData.WorkflowPackage.ObjectID, Visiable: true, IsMultiple: false, Mode: "Package", Originate: true, DefaultValue: pageData.WorkflowPackage.BindPacket, IsShared: true });

        //初始化页面数据
        function initPageData() {
            var id = getUrlParam("ID") || "";
            var parentCode = getUrlParam("ParentCode") || "";
            var parentId = getUrlParam("ParentID") || "";
            var objectType = getUrlParam("ObjectType") || "";
            if (id || parentId || parentCode || objectType) {
                $.ajax({
                    url: $.Controller.WorkflowPackage.GetWorkflowPackage,
                    type: 'get',
                    dataType: "json",
                    data: { id: id, parentId: parentId, parentCode: parentCode, objectType: objectType },
                    async: false,//同步执行
                    success: function (result) {
                        if (result.Message) {
                            //parent.$.H3Dialog.Warn({ content: $.Lang(result.Message) });
                            //parent.H3DialogManger.Cancel();
                            setControlUsable(0, $("a"));
                        } else {
                            pageData.WorkflowPackage = result.WorkflowPackage;
                            pageData.Folders = result.Folders;
                            if (pageData.WorkflowPackage.CheckedUser) {
                                pageData.WorkflowPackage.CheckedUser = $.Lang(pageData.WorkflowPackage.CheckedUser);
                            }
                            if (result.WorkflowPackage.lock) {
                                setControlUsable(0, $("a"));
                            }
                        }
                    }
                });
            }
        };
        //保存
        function saveData() {
            // console.log($("#divWorkflow").SheetUser())
            var bindPacket = $("#divWorkflow").SheetUser().GetValue();
            //应用流程包时,应用的流程包不可为空
            if (pageData.WorkflowPackage.IsQuotePacket && !bindPacket) {
                $.H3Dialog.Warn({ content: $.Lang("WorkflowPackage.WorkflowCodeRequried") });
                return;
            }
            pageData.WorkflowPackage.BindPacket = bindPacket;
            // console.log(pageData.WorkflowPackage, 'pageData.WorkflowPackage')
            // console.log(pageData.FolderId, 'pageData.FolderId')
            pageData.WorkflowPackage.Folder = !pageData.FolderId ? pageData.WorkflowPackage.Folder : pageData.FolderId.trim();
            $.ajax({
                url: $.Controller.WorkflowPackage.SaveWorkflowPackage,
                type: "post",
                dataType: "json",
                data: pageData.WorkflowPackage,
                success: function (result) {
                    if (result.Success) {
                        top.ReloadNode(result.Extend);
                        if (result.Extend != pageData.WorkflowPackage.Folder) {
                            top.ReloadNode(pageData.WorkflowPackage.Folder);
                        }
                        if (!pageData.WorkflowPackage.ObjectID) parent.H3DialogManger.Close();
                        $.H3Dialog.Success({content: $.Lang(result.Message)});
                    } else {
                        if (result.Extend) {
                            var content = $.format($.Lang(result.Message), result.Extend);
                            $.H3Dialog.Warn({ content: content });
                        } else {
                            $.H3Dialog.Warn({ content: $.Lang(result.Message) });
                        }
                    }
                }
            });
        };

        //改变流程包共享状态
        function setIsShared() {
            $.ajax({
                url: $.Controller.WorkflowPackage.SetWorkflowPackageShared,
                type: "post",
                dataType: "json",
                data: { schemaCode: pageData.WorkflowPackage.Code, isShared: !pageData.WorkflowPackage.IsShared },
                success: function (result) {
                    if (result.Success) {
                        $.H3Dialog.Success({ content: $.Lang("msgGlobalString.SaveSucced") });
                    } else {
                        pageData.WorkflowPackage.IsShared = !pageData.WorkflowPackage.IsShared;
                        $.H3Dialog.Warn({ content: $.Lang(result.Message) });
                    }
                }
            });
        }

        $('.js-example-basic-single').select2();
        $(".js-example-basic-single").on("select2:select",function(e){
            // e 的话就是一个对象 然后需要什么就 “e.参数” 形式 进行获取
            console.log(e.params.data.id);
            pageData.FolderId = e.params.data.id
        })
    });
</script>
<validator name="formValidator">
    <div id="ToolBar">
        <a id="lnkOK" v-on:click="saveData" data-icon="fa fa-save" href="javascript:void(0)" data-lang="GlobalButton.Save">保存</a>
    </div>
    <div class="H3Panel">
        <span>{{LanData.msgGlobalString.BasicInfo}}</span>
        <table>
            <tr>
                <td>
                    {{LanData.WorkflowPackage.Directory}}
                </td>
                <td>
                    <select v-model="WorkflowPackage.Folder" class="js-example-basic-single" name="state">
                        <option v-for="option in Folders" v-bind:value="option.Value">{{option.Text}}</option>
                    </select>
                    <!--<select v-model="WorkflowPackage.Folder" name="state">-->
                        <!--<option v-for="option in Folders" v-bind:value="option.Value">{{option.Text}}</option>-->
                    <!--</select>-->
                </td>
            </tr>
            <tr>
                <td>{{LanData.WorkflowPackage.Code}}</td>
                <td>
                    <input v-model="WorkflowPackage.Code" detect-change="on" detect-blur="on" initial="off" v-validate:code="['htmlEscape','required']" type="text" v-bind:disabled="WorkflowPackage.ObjectID" />
                    <span style="color:Red;" v-if="$formValidator.code.required" data-lang="msgGlobalString.EnumValueRequired"></span>
                    <span style="color:Red;" v-if="$formValidator.code.htmlEscape">{{LanData.msgGlobalString.InvalidCode}}</span>
                </td>
            </tr>
            <tr>
                <td>{{LanData.WorkflowPackage.DisplayName}}</td>
                <td>
                    <input maxlength="24" v-model="WorkflowPackage.DisplayName" detect-change="on" detect-blur="on" initial="off" v-validate:display-name="['htmlEscape','required']" type="text" />
                    <span style="color:Red;" v-if="$formValidator.displayName.required" data-lang="msgGlobalString.EnumValueRequired"></span>
                    <span style="color:Red;" v-if="$formValidator.displayName.htmlEscape">{{LanData.msgGlobalString.InvalidCode}}</span>
                </td>
            </tr>
            <tr>
                <td>{{LanData.WorkflowPackage.Type}}</td>
                <td colspan="2" class="tableNoCss">
                    <table border="0">
                        <tr>
                            <td v-for="item in StorageType" style="padding-right:50px;">
                                <input type="radio" value="{{item.Value}}" v-model="WorkflowPackage.StorageType" v-bind:disabled="WorkflowPackage.ObjectID" />
                                <label>{{item.Text}}</label>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tbody style="display:none;"> <!--v-show="!WorkflowPackage.ObjectType">-->
                <tr v-show="!WorkflowPackage.IsQuotePacket">
                    <td>{{LanData.WorkflowPackage.IsShared}}</td>
                    <td colspan="2" class="tableNoCss">
                        <table border="0">
                            <tr>
                                <td>
                                    <input type="checkbox" v-model="WorkflowPackage.IsShared" v-on:click="setIsShared" />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr v-show="!WorkflowPackage.IsShared">
                    <td>{{LanData.WorkflowPackage.IsQuotePacket}}</td>
                    <td colspan="2" class="tableNoCss">
                        <table border="0">
                            <tr>
                                <td>
                                    <input type="checkbox" v-model="WorkflowPackage.IsQuotePacket" v-bind:disabled="WorkflowPackage.ObjectID" />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr v-show="WorkflowPackage.IsQuotePacket">
                    <td>{{LanData.WorkflowPackage.BindPacket}}</td>
                    <td colspan="2" class="tableNoCss">
                        <table border="0">
                            <tr>
                                <td>
                                    <div id="divWorkflow" style="width: 250px;"></div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
            <tr v-show="WorkflowPackage.ObjectID">
                <td>{{LanData.WorkflowPackage.CheckedUser}}</td>
                <td>
                    <label>{{WorkflowPackage.CheckedUser}}</label>
                </td>
            </tr>
            <tr>
                <td>{{LanData.WorkflowPackage.SortKey}}</td>
                <td colspan="3">
                    <input v-model="WorkflowPackage.SortKey" detect-change="on" detect-blur="on" initial="off" v-validate:sort-key="['number']" type="text" />
                    <span style="color:Red;" v-if="$formValidator.sortKey.number">{{LanData.msgGlobalString.NumberValidate}}</span>
                </td>
            </tr>
        </table>
    </div>

</validator>
