<!--
    共享流程
     -->
<div class="hbox hbox-auto-xs hbox-auto-sm">
  <!-- main -->
  <div class="col" ng-controller="liquidationCtrl">
    <!-- main header -->
    <div class="wrapper-md">
      <div class="row">
        <div class="col-sm-6 col-xs-12 form-title-name">
          <span class="h3" ng-bind="menuData.DisplayName"></span>
        </div>
        <div class="col-sm-6 col-xs-12">
          <button class="btn btn-default btn-sm" style="float: right">
            <i class="glyphicon glyphicon-plus" ng-click="createLiquidation()"><span
                style="margin-left: 5px">新建</span></i>
          </button>
        </div>
      </div>
    </div>

    <!--表格部分Start-->
    <div class="wrapper-md paddingbottomNone">
      <div class="panel panel-default">
        <div class="table-responsive">
          <div class="form-inline search-box">
            <div class="input-group searchContainer">
              <!--名称-->
              <div class="header-search-item">
                <span class="search-title-text">关键字</span>
                <div class="form-group">
                  <input ng-model="liquidationKeyword" maxlength="32" class="input form-control" style="width: 300px"id="liquidationKeyword"
                    placeholder="可输入名称，IP地址，操作步骤中的关键字" />
                </div>
              </div>
              <!--标签-->
              <div class="header-search-item">
                <span class="search-title-text">状态</span>
                <div class="form-group">
                  <select autocomplete="off" ng-model="liquidationStatus" ng-options="x.name for x in types"
                    id="liquidationStatus" maxlength="32" class="input form-control">
                    <option value="">全部</option>
                  </select>
                </div>
              </div>

              &nbsp;&nbsp;&nbsp;&nbsp;
              <button class="btn btn-primary search-box-btn" id="search_liquidation" type="button">
                查询
              </button>
            </div>
          </div>

          <table ui-jq="dataTable" id="tabLiquidationFlow" ui-options="dtMyFlowOptions"
            class="table table-striped m-b-none" style="width: 99.5%">
            <thead>
              <tr>
                <th style="width: 50px"><span>序号</span></th>
                <th style="width: 200px"><span>名称</span></th>
                <th style="width: 110px"><span>IP地址</span></th>
                <th style="width: 50px"><span>状态</span></th>
                <th class="hide1024" style="width: 80px">
                  <span>操作时间</span>
                </th>
                <th class="hide1024"><span>操作步骤</span></th>

                <th class="hide1024" style="width: 120px"><span>操作</span></th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
    <div ng-include="'liquidation/modals.html'"></div>
    <!--表格部分End-->
  </div>
  <!-- / main -->
</div>